[2012-05-22 12:35] burzum opened #3 "Evaluate if it is possible to come up with an interface for uploaders"
I just had the idea if it won't be somehow possible to provide a unique interface for different uploader tools like plupload or uploadify and jquery upload.

Need to evaluate if this can be done as a component (?) loading different upload processors as adapters to return a unified array of data that can be passed to the file storage model.

[2012-05-23 14:33] burzum opened #5 "Improve the documentation"
Explain how to save a regular file using the StorageManager

[2012-05-23 15:25] #5 closed, assigned to nobody

[2012-05-23 15:26] burzum opened #6 "Check if adapter usage can be improved and automated"

[2012-08-09 19:35] burzum opened #8 "Add a CakePHP Model ORM Storage Adapter"
I've noticed there is a Doctrine DBAL adapter - should do one for CakePHPs ORM too :)

[2012-08-09 20:20] #3 closed, assigned to nobody

[2012-08-28 15:20] bfncs opened #9 "Automatic adding of image versions"
When using the image model with versioning, currently all versions are created after uploading. Since it is some standard problem that you get aware of other image sizes you want later, it would be very nice if the Image Model hat a function that checks all images on whether all configured image sizes are there and if not creates the missing ones.

I understand the [considerations](http://cakedc.c

[2012-09-10 17:59] #9 closed, assigned to nobody

[2013-06-10 15:22] mcallisto opened #20 "Adding composer.json"
It would be great if this plugin (and its dependencies) could be installed via composer.

[2013-06-25 22:04] #20 closed, assigned to nobody

[2013-09-04 15:51] OpenHaus opened #31 "How to delete created images?"
In the [instructions](https://github.com/burzum/FileStorage#now-comes-the-crucial-point-of-the-whole-implementation) you write that one should use

[code]

to delete the file created before.

I am creating multiple sizes of my images. So I have one folder with a couple files. When I try to delete this folder as shown above ('path' points to the folder) I get a "Directory not empty" warning and not

[2013-09-16 11:16] #31 closed, assigned to nobody

[2013-11-06 12:37] rchavik opened #35 "Setting `FileStorage.schema.useIntegers` does not seem to affect schema creation"
After setting the above configuration, running:

[code]

still generates table still with `id` and `foreign_key` fields with `char(36)` type.

I had a quick look, and it seems this might not be easily fixable here as the SchemaShell uses `CakeSchema` [1] to read the schema file.

And it seems that we have no way of modifying the returned `$Schema` object from the schema file.

If this is not possi

[2013-11-24 19:29] #35 closed, assigned to nobody

[2013-11-24 19:30] #6 closed, assigned to nobody

[2014-01-12 10:30] mcallisto opened #36 "Amazon S3 metadata support?"
Is it possible to set metadata (for example Content-Type and Cache-Control) when writing to Amazon S3?

It would be ok as a general config; even better, of course, if it could be set each time a file is written.

[2014-02-09 22:42] #8 closed, assigned to nobody

[2014-03-16 22:45] #36 closed, assigned to nobody

[2014-12-09 18:03] emersonthis opened #41 "Installation error"
When I copy/paste the following (found here: https://github.com/burzum/cakephp-file-storage/blob/master/Docs/Documentation/Installation.md#cakephp-bootstrap) into my bootstrap.php file, I get the following error:

bootstrap.php

[code]

ERROR:

[code]

What am I doing wrong?

I tried adding: `CakePlugin::load('FileStorage')` but it only produced different errors.

[2014-12-09 22:30] #41 closed, assigned to nobody

[2014-12-09 22:44] emersonthis opened #42 "Basic usage question"
I'm not very familiar with the CakePHP event system, so I'm trying to start with the first usage pattern, accessing the StorageManager directly...

Think about my app as if it is Craigslist. There is a Listing model, which hasMany Photo(s). In my Listing model I've added the relationship:

[code]

In my view, I write the form manually because I'm using dropzone.js to post the files with AJAX. When

[2014-12-10 01:37] #42 closed, assigned to nobody

[2015-01-16 15:33] zipate opened #44 "Quick Start Tutorial not working"
Hi. Following the quick start tutorial, I'm unable to setup the project despite having done all the installations. Please provide a simpler, working tutorial (perhaps based on the default blog post tutorial by CakePHP) as this plugin looks very promissing. Thanks and Regards, Zipate.

[2015-01-19 20:23] burzum commented on #44
"Not working" is not really useful at all. So what is the actual problem!?

[2015-01-24 12:40] #44 closed

[2015-02-19 13:53] btaens opened #45 "File deletion throws error (3.0)"
I managed to get file uploading working in 3.0. Really nice plugin, but it seriously needs some better documentation.

Anyway, it seems much of the code has not been updated for Cake 3's object oriented entity model.  Uploading works fine, deletion, on the other hand, not so much. For one, FileStorageTable's beforeDelete method tries calling the parent's (Cake\ORM\Table) beforeDelete method, which

[2015-02-25 09:08] btaens commented on #45
The ImageProcessingListener also calls a certain "hashOperations" method from the appropriate table in its "_removeVersions" method. This doesn't exist neither in the core cakephp libraries, nor in the FileStorage lib. What does this refer to?

[2015-02-26 22:30] burzum commented on #45
I'll check this out as soon as I have free time for it again, I have two projects that will need it as well.

If you fixed the problems already, would you mind doing a pull request against the 3.0 branch please?

[2015-02-26 22:48] burzum commented on #45
@btaens I fixed the things you found, if you would like to use the plugin I appreciate that, would you mind to test it a little more and report other issues you find? I'll try to fix them as soon as possible then.

[2015-02-26 23:29] burzum commented on #45
@btaens Please try it again, I've fixed the whole ImageStorage test as well.

[2015-02-27 09:22] btaens commented on #45
Sorry, didn't mean to come off as needy. As I said, good work, and it's much appreciated.

There still seems to be a problem with FileStorageTable's "deleteOldFileOnSave" method (FileStorageTable Line 187).

[2015-02-27 09:32] btaens commented on #45
If you don't want to mess around with it too much, can I ask for a pull request? I kind of need this for my work. I'd refactor it for you more in line with CakePHP 3, and it would take a bit of work off your shoulders.

[2015-02-27 09:41] burzum commented on #45
Sure! Pull requests are appreciated! Just make sure you hit the right branch and follow the coding style and conventions. I'll fix the deleteOldFileOnSave() today or tomorrow, depending on my workload today. If you like the plugin and contribute to it it's the best for everyone. I personally don't like the GPL but MIT is like "grab and run" as well, I wish more people would contribute back or help

[2015-02-27 10:56] btaens commented on #45
Cool! I haven't yet tested all the bits of it just yet, though I have noticed that there's no way to make file uploading optional, just to turn validation completely off. So either I have to provide a file, or I turn off validation completely.

Don't worry about deleteOldFileOnSave(), I've already refactored it a bit. As for that functionality, right now if you want to replace a file, it deletes t

[2015-02-27 13:31] burzum commented on #45
The point is there should be no record created if no valid upload was present. Why would you do that?

What did you change? I'm open for improvements.

I'm adding it in a moment.

Great! Please to one PR per feature if possible, it's easier to review, discuss and merge them this way.

[2015-02-28 13:25] burzum commented on #45
Closing this now, all the issues mentioned so far are fixed.

[2015-02-28 13:25] #45 closed

[2015-04-22 17:58] zuha opened #51 "Question / Possible Issue with SSLv3"
I got this email (truncated) from Amazon about our S3 connection using this FileStorage plugin.

I believe (though I could be wrong) that this issue has to do with the end point specified around line 121 in Event/S3StorageListener.php, and how the url is https, instead of a TLS endpoint.  Do you have any insight as to whether this is the issue, and/or how it might be fixed?

[code]

[2015-04-23 08:14] burzum commented on #51
Do you have the TLS endpoint URL for me please?

I need to look into this, this seems to be mostly specific to the adapter or adapter configuration. If I just need to pass another URL to the adapter this should be pretty easy to fix.

[2015-04-23 14:50] zuha commented on #51
I'm using the 2.x branch and getting TLS endpoint is what I'm confused about.  I can't find any information about where or how to get that.  I've done all the searching I can think of (amazon forums, google, stackoverflow), but nothing.

[2015-04-23 17:54] burzum commented on #51
I'm not sure either, I don't mind fixing it in file storage (if there is a fix needed) if you could figure out what exactly needs to be done. Looks more like a problem of the SSL lib on the system.

The S3 adapter in the Gaufrette lib is more or less just a wrapper around `"aws/aws-sdk-php"` you could try and see if they have a new version. If you're using this SDK amazonwebservices/aws-sdk-for-ph

[2015-04-25 22:55] burzum commented on #51
I've followed the issue a little, the problem is not the FileStorage nor I think Gaufrette is. It is like I said the underlying SDK implementation. Try updating the AWS SDK, I mean it's their official SDK, I think they should have updated it, maybe there is a config option?

Because of this not really being directly related to the FileStorage code itself I'm not going to investigate this a lot mor

[2015-04-25 22:55] #51 closed

[2015-04-26 12:26] burzum commented on #51
See https://github.com/aws/aws-sdk-php

The issue could also be caused by CURL or the OpenSSL lib. Check and update them if needed.

[2015-06-01 08:35] burzum opened #56 "Support Gaufrette AND Flysystem"
Right now FileStorage is only supporting Gaufrette because it was there before Flysystem.

It seems that Flysystem was created because some people were unhappy with the Gaufrette team and  it's slow response times to issues.

So if you want Gaufrette **and** Flysystem support please vote this up by answering with +1 or :+1: here.

[2015-06-01 10:52] stork commented on #56
:+1:

[2015-06-06 05:11] Adnan0703 commented on #56
:+1:

[2015-06-07 13:25] mistaguy opened #57 "Including the helper 'FileStorage.Image' does not work"
Error: FileStorage.ImageHelper could not be found.

Make sure your plugin FileStorage is in the C:\xampp\htdocs\myapp\plugins\ directory and was loaded.

Error: Create the class ImageHelper below in file: C:\xampp\htdocs\myapp\plugins\FileStorage\src\View\Helper\ImageHelper.php

<?php
namespace FileStorage\View\Helper;

use Cake\View\Helper;

class ImageHelper extends Helper
{

}

[2015-06-08 07:37] burzum commented on #57
It's `Burzum/FileStorage.ImageHelper`.

[2015-06-08 07:37] #57 closed

[2015-06-11 00:19] burzum commented on #56
Started to prepare the changes https://github.com/burzum/storage

[2015-06-11 13:09] netstyler commented on #56
:+1:

[2015-07-03 14:41] yosyp opened #59 "Class 'S3StorageListener' not found in app/config/file_storage.php"
Following the `file_storage.php` example from the [Quick Start Guide](https://github.com/burzum/cakephp-file-storage/blob/3.0/docs/Tutorials/Quick-Start.md#theoretical-model-setup), the error occurs on line 7, `$listener = new S3StorageListener();`, with the error that `Class 'S3StorageListener' not found in app/config/file_storage.php`

[2015-07-03 17:05] burzum commented on #59
[code]

or

[code]

[2015-07-03 17:06] #59 closed

[2015-07-07 11:21] robertpustulka opened #62 "3.0-dev: Model field"
I'm not sure if I understand this correctly, but image processing config is based on `model` field. Docs suggest that the `model` should be propagated with a table alias. But [ImageStorageTable](https://github.com/burzum/cakephp-file-storage/blob/3.0/src/Model/Table/ImageStorageTable.php) sets `table()` value in `beforeSave` by default. Shouldn't it set `alias()` value?

BTW I don't quite understa

[2015-07-07 12:11] burzum commented on #62
Where in the docs did you find that? I would like to review this and maybe correct it. Technically you can use any of both or something totally different. The field name was model and stayed this way for legacy reasons as well. A better name would have been "identifier" and "adapter" would be better named "storage_config".

You just need to make sure that the name says everywhere the same where yo

[2015-07-07 12:22] robertpustulka commented on #62
@burzum

[Here](https://github.com/burzum/cakephp-file-storage/blob/3.0/docs/Documentation/Image-Storage-And-Versioning.md) for example - the config says `GalleryImage` which I suspect is a custom image table.

The I found [this](https://github.com/burzum/cakephp-file-storage/blob/3.0/docs/Tutorials/Quick-Start.md) and now I see that this alias is set by hand in a table method.

[2015-07-07 12:27] robertpustulka commented on #62
Now I'm looking through 3.0-event-overhaul branch and changes look promising. Could you open a PR with this branch? It would be easier to track and comment the changes.

[2015-07-09 00:27] burzum commented on #62
I'll open it as soon as it's close to be done.

Interested in helping to finish it? I'll be probably busy for the next ~10 days. Just committed a chunk of code.

[2015-07-09 06:19] robertpustulka commented on #62
I'll look into this, but currently I'm a bit busy too...

[2015-07-11 00:13] #62 closed

[2015-07-14 01:41] commercial-hippie commented on #56
:+1:

[2015-07-16 23:15] mistaguy opened #67 "Error: Class '\Gaufrette\FileSystem' not found"
on windows i have not issue but when i deploy to linux machine ubuntu 14.04 i get that error

Error: Class '\Gaufrette\FileSystem' not found
File /home/ubuntu/imageapp/vendor/burzum/file-storage/src/Lib/StorageManager.php
Line: 113

[2015-07-16 23:52] mistaguy commented on #67
I have found out that this is because of casing. I dont know where this is possibly originating from. On windows, using  '\Gaufrette\FileSystem' on the class has no problems but on linux it has. When i switched to  '\Gaufrette\Filesystem' with the proper casing. The error was gone. Could this be originating from cakephp ?

[2015-07-17 10:51] burzum commented on #67
It's related to the file system: Linux is case sensitive, windows is not.

I'm surprised this is the first time somebody gets that problem. Because the local listener is pretty popular and I'm using it myself for some time without trouble. Maybe the Gaufrette lib changed the name of the file.

[2015-07-17 10:56] #67 closed

[2015-07-17 10:56] burzum commented on #67
Please let me know if you get further issues.

If you're just starting with the 3.0 version have a look at the 3.0-event-overhaul branch.

[2015-07-17 11:57] mistaguy commented on #67
Cool

[2015-07-30 09:22] robertpustulka opened #68 "Move storage table methods to a dedicated behaviors"
I was thinking that maybe file/image callbacks and methods would be better placed in behaviors. It would provide more flexibility if apps could just add behaviors to custom tables. It's not the best option to extend plugin tables...

I could try to do this if the idea makes sense for you.

[2015-07-30 16:30] burzum commented on #68
Are you talking about the 3.0 branch? There should be no need to extend the tables. In 3.0 it is easy to customize what happens through the standard model events.

I don't have the time and need to refactor this part of the plugin. Feel free to do so there but if you do that change units tests are a must have and they *must* pass and the plugin must behave as it did before.

[2015-07-31 06:08] robertpustulka commented on #68
@burzum

I was looking through 3.0-event-overhaul branch and it looks better, but still there are methods like [getFileInfoFromUpload](https://github.com/burzum/cakephp-file-storage/blob/3.0-event-overhaul/src/Model/Table/FileStorageTable.php#L101) and callbacks which reside inside a table class.

I'm not sure what is left to be done on that branch. It would be best if I targetted behavior refacto

[2015-07-31 08:20] robertpustulka commented on #68
I'm afraid it's not going to be easy. This plugin forces tables to be one of `ImageStorageTable` or `FileStorageTable` because of [this](https://github.com/burzum/cakephp-file-storage/blob/3.0-event-overhaul/src/Event/AbstractStorageEventListener.php#L162-L169). So there's much more to do in terms of flexibility. I suspect that it's a legacy code, some 2.x leftovers, but I think I'm gonna pass on

[2015-07-31 08:44] burzum commented on #68
getFileInfoFromUpload could be moved into the abstract event base class as well. Make a list of things you would like to change and I might put it in the wiki for a future milestone.

If you like please try the 3.0-event-overhaul branch. The new event listeners are *a lot* better. Everything should already work but I haven't had time to give a final look yet.

I'm always happy to hear that people

[2015-07-31 09:11] robertpustulka commented on #68
I swapped 3.0 with 3.0-event-overhaul in my skeleton app and everything seems to be working :)

I have many suggestions - the main is to allow for custom tables to implement file storage functionality. That is entirely decouple methods from storage tables. I created few file table classes im my app (pdf, spreadsheet, extended image) and all of them use some of my code (behaviors, traits, associati

[2015-08-03 07:53] burzum commented on #68
also allow for resolving urls for normal files, I guess it's currently possible for images only.

This is already possible, just fire the event. There is also a model method that returns an array of all version URLs. The helper was done because you usually want to echo an image in the view. I will definitely keep it. If you would like to receive the files somewhere else just trigger the event or g

[2015-08-03 08:38] robertpustulka commented on #68
@burzum I know that I can fire an event and that's what I did in my entity :). But for me that's not a good solution. I'd see some url factory or anything less hacky than running an event loop :). And I couldn't find a method for getting full file path for regular files. I think there should be some abstraction around retrieving full file **paths**. Not sure about urls because these could be handl

[2015-08-03 08:44] burzum commented on #68
Just implement a method in your entity and instantiate the path builder (only available in the overhaul branch yet) and make sure it's using the same config options as the one in the event listener.

[2015-08-03 10:16] robertpustulka commented on #68
Ah OK, thanks. I'll try doing that.

[2015-08-03 10:42] robertpustulka commented on #68
@burzum BTW, what is [this method](https://github.com/burzum/cakephp-file-storage/blob/3.0-event-overhaul/src/Model/Table/ImageStorageTable.php#L157)? I cannot see it declared anywhere...

[2015-08-04 08:36] burzum commented on #68
@robertpustulka AFAIR it comes from the ImagineBehavior.

Are you using Linux? Could you try to run [this script](https://www.lexo.ch/blog/2013/01/linux-bash-shell-script-for-recursively-converting-all-files-with-various-charsets-in-a-directory-into-utf-8-shell-skript-fur-das-rekursive-konvertieren-von-allen-files-in-einem-verzeichnis-mit-belie/) against the repository? Or any better way to make s

[2015-08-04 08:48] robertpustulka commented on #68
@burzum Yeah, I had warnings while opening some of the files. I'll try to fix it.

[2015-08-04 08:53] burzum commented on #68
@robertpustulka which files? What editor are you using that you're getting warnings? I'm trying to find a way to figure out which files are wrong but couldn't find one yet.

[2015-08-04 09:03] robertpustulka commented on #68
Netbeans told me that LegacyLocalFileStorageListener was unsafe to open using UTF-8. But I opened it, broken an umlaut in your name :) and then fixed it (probably) in https://github.com/robertpustulka/cakephp-file-storage/commit/ef45a0073286c70163e3a1986ec8632125a464fd. BTW travis for that PR [succeded](https://travis-ci.org/burzum/cakephp-file-storage/jobs/74010545), so maybe the issue is fixed f

[2015-08-04 09:19] burzum commented on #68
I'll see if I can fix this in the 3.0 branch as well, thank you.

[2015-08-04 09:21] robertpustulka commented on #68
@burzum it's definitely `LegacyLocalFileStorageListener` - I opened it again on a branch before https://github.com/robertpustulka/cakephp-file-storage/commit/ef45a0073286c70163e3a1986ec8632125a464fd commit and a wartning popped up again with something like this:
[code]

[2015-08-04 09:22] burzum commented on #68
It must be something else in the 3.0 branch, because it doesn't have that file.

Here is my plan for the releases:

* Doing a 3.0.0 (without the RC) release
* Merging the event overhaul and doing a 3.1.0 release.

[2015-08-04 09:26] robertpustulka commented on #68
Would 3.1 require CakePHP 3.1?
I have a favor - could you hold with merging event overhaul? I have a few suggestions I'm working on right now. Maybe I'll have behavior refactoring ready by this time. Its WIP, but you can follow changes here: https://github.com/robertpustulka/cakephp-file-storage/tree/3.0-behavior-refactoring if you'd like.

[2015-08-04 09:29] burzum commented on #68
I don't want to merge it ASAP. If the plugin doesn't need 3.1 I won't raise it, but I would preferably not have to increase the required Cake version if not necessary.

[2015-08-04 09:41] robertpustulka commented on #68
I can't see right now how this plugin could benefit from CakePHP 3.1 features, so I'm not forcing anything.

Another question - what about `ImageProcessingListener`? Is it going to be converted to Storage/Listener?

[2015-08-04 09:53] robertpustulka commented on #68
@burzum More corrupted files:
* src/Shell/StorageShell.php
* src/Shell/Task/ImageTask.php

[2015-08-04 11:18] robertpustulka commented on #68
Hmm... I'm afraid the tests were badly configured for 3.0-event-overhaul branch. All of them seem to be working with old event listeners attached. See this: [FileStorageTestCase.php#L89](https://github.com/burzum/cakephp-file-storage/blob/3.0-event-overhaul/src/TestSuite/FileStorageTestCase.php#L89)

After the change to `LocalListener` there's a failure:
[code]
Now I'm not sure whether tests are n

[2015-08-04 11:41] burzum commented on #68
It is already part of the LocalListener. You just need to enable it in the options. The image processing has become [a trait](https://github.com/burzum/cakephp-file-storage/blob/3.0-event-overhaul/src/Storage/Listener/ImageProcessingTrait.php).

[The new listener tests](https://github.com/burzum/cakephp-file-storage/blob/3.0-event-overhaul/tests/TestCase/Storage/Listener/LocalListenerTest.php) don

[2015-08-04 11:53] robertpustulka commented on #68
@burzum but Table tests seem to be depending on that because tests fail when old listeners are disabled.

I'm trying to turn on imageProcessing option on LocalListener and it seems not to be working because ImageStorageTable overwrites afterSave event from FileStorageTable and does not emit FileStorage.afterSave which LocalListener depends on.

[2015-08-04 11:59] robertpustulka commented on #68
Even when I fixed that callback to call parent::afterSave() images are processed but something somewhere does not respect image size configuration for versions. I get all images created in original size despite different config.

[2015-08-04 12:04] burzum commented on #68
Maybe something broke again, I'm pretty sure this was working meanwhile. I haven't touched this code for some time, haven't had the time. We'll need this branch done by the end of September the latest for our own project as well, so some time in the near future I'll *have to* work on it as well.

But if you like to help this is more than appreciated, you're actually the first person contributing s

[2015-08-04 12:08] robertpustulka commented on #68
I'm working right now on a PR with a hope to fix this :).

[2015-08-04 12:11] burzum commented on #68
Let me know if you need further help. You can add me on Skype as well if you like, might make communication more easy.

[2015-08-04 13:08] robertpustulka commented on #68
I have no idea why it's not working... I have found that two temporary files were created [here](https://github.com/burzum/cakephp-file-storage/blob/3.0-event-overhaul/src/Storage/Listener/ImageProcessingTrait.php#L133-L134). Removed one of them and still nothing. All versions are the same files. Old listener uses ImagineBehavior method for processing images and it works there but when I try to us

[2015-08-04 22:44] burzum commented on #68
What exactly did you do so that I can reproduce the same circumstances?

[2015-08-05 06:12] robertpustulka commented on #68
@burzum I'm not talking about test failures right now. I had all versions created to be the same images no matter what options I configured. When I copied the code from the old listener:
[code]
It started to work. Failures may be the result of that change, but for me images started to be created in the right sizes as configured.

Please see all the changes in a PR: https://github.com/burzum/cakeph

[2015-08-05 06:50] robertpustulka commented on #68
OK, I have found that little piece of code that was causing the issue. In [Imagine plugin thumbnail()](https://github.com/burzum/cakephp-imagine-plugin/blob/3.0/src/Lib/ImageProcessor.php#L385) method I've replaced Image instance by the one returned by [Imagine native thumbnail()](https://github.com/avalanche123/Imagine/blob/master/lib/Imagine/Image/AbstractImage.php#L27):
[code]
And it seems to b

[2015-08-05 06:52] robertpustulka commented on #68
OK, I have found that little piece of code that was causing the issue. In [Imagine plugin thumbnail()](https://github.com/burzum/cakephp-imagine-plugin/blob/3.0/src/Lib/ImageProcessor.php#L385) method I've replaced Image instance by the one returned by [Imagine native thumbnail()](https://github.com/avalanche123/Imagine/blob/master/lib/Imagine/Image/AbstractImage.php#L27):
[code]
And it seems to b

[2015-08-05 08:31] burzum commented on #68
OK, thank you, I've merged both PRs.

[2015-08-05 08:45] robertpustulka commented on #68
@burzum

Yeah, I listed them above: https://github.com/burzum/cakephp-file-storage/issues/68#issuecomment-127550891

[2015-08-05 09:01] burzum commented on #68
I can't fix them, even when I turn them to UTF8 Git won't recognize the change for whatever reason. I think I'll have to do that in my Linux VM.

[2015-08-05 09:02] robertpustulka commented on #68
Wait for my PR :)

[2015-08-05 09:08] robertpustulka commented on #68
@burzum fixed this using your script #73

[2015-08-05 09:35] burzum commented on #68
Thank you, merged it.

[2015-08-10 20:48] repher opened #76 "File deletion error"
Hey!

I think I found a bug when deleting files. I created my own DocumentsTable object and extended FileStorage. When I delete an Entry from my NewsTable, an error is thrown, that the directory to be deleted is not empty.

NewsTable:
[code]

[code]
[code]

There is still the file i uploaded in this folder. Seems like the Gauffrette library doesn't remove recursively:
https://github.com/KnpLabs/Ga

[2015-08-11 07:33] repher commented on #76
I think the problem lies in the creation of the key to use with Gaufrette. In FileStorageTable::afterDelete() the following is called ([here](https://github.com/burzum/cakephp-file-storage/blob/3.0/src/Model/Table/FileStorageTable.php#L152)):
[code]
But on creation time the key looks like this [here] (https://github.com/burzum/cakephp-file-storage/blob/3.0/src/Event/LocalFileStorageListener.php#L9

[2015-08-11 08:15] repher commented on #76
Mmmmh. It seems like you already fixed it. I installed it the way it is documented in the docs
(```composer require burzum/file-storage:3.0.*@dev)```) but in the ```3.0-event-overhaul``` everything I would have suggested is already done :-)

[2015-08-11 08:15] #76 closed

[2015-08-11 15:58] burzum commented on #76
Yes, the branch is a little late but should be merged soon to 3.0. There has been more changed done to it than I initially wanted. Thanks for pointing that out, I'll see if I can cherry pick the fix later. I'm on a business trip this week and don't have the time and mood in my after work hours. I'll be fully back next week.

[2015-08-11 16:02] repher commented on #76
Hey!

Thanks for answering. Just two questions because I’m still trying to figure out some problems and also trying to find a way to deal with them.

1) Do you plan to use PathBuilderTrait wherever possible (because now there are some differences between AbstractStorageEventListener::buildPath() and BasePathBuilder::path()

2) Does “files” as prefix for local files get removed in the future?

Than

[2015-08-12 11:54] burzum commented on #76
AbstractStorageEventListener is **legacy** code and won't be touched any more. In fact this code will be removed in the future in favor of the new listeners. All the new listeners use the path builder already, thats the whole point of the overhaul.

I guess your confusion comes from the not yet updated documentation.

It already has been removed from the new listeners. Use either the old listeners

[2015-08-12 12:00] repher commented on #76
Yep the documentation got me confused … big time :-) Sorry for bothering you!

Bernhard

[2015-08-12 13:14] repher opened #78 "Filesize validation does not work"
Hello!

I just wanted to use the file size validation but it does not work. I used it that way:
[code]
The following error occurs:
[code]
If i correct the type (_filesize -> _fileSize) but then the next error occurs:
[code]

Do I do something wrong or is this an error I should try to correct :-)

Thanks,
Bernhard

[2015-08-12 14:02] robertpustulka opened #79 "No way to change jpg/png quality"
I'm afraid there's no way to configure custom quality for image versions. At least not in 3.0-event-overhaul branch. Currently the only save option passed to imagine save() method is image format (in pretty simple way though because it's resolved based on file extension and not mime type).

I was thinking that there could be another config key - for example `FileStorage.saveOptions`, where default

[2015-08-12 15:34] Adnan0703 commented on #78
That's because of this.

[code]
`_filesize` should be `_fileSize`

[2015-08-12 15:36] repher commented on #78
Yeah i know, but please read on: "If i correct the type (_filesize -> _fileSize) but then the next error occurs"

[2015-08-12 15:43] Adnan0703 commented on #78
`$this->_validateSize($value['size'], $operator, $size);` can be replaced with `Validation::fileSize()`. It has the same parameters.

[2015-08-13 07:03] robertpustulka commented on #79
See https://github.com/robertpustulka/cakephp-file-storage/commit/f7f9a62f250e69b1c5b5cb1ea11a382f4d91bbd7

[2015-08-13 07:20] burzum commented on #79
Looks good.

The only question now is how to pass this from an image. Maybe you want to create a high quality version 800x600 but a lower res for a 80x80 cropped version.

I've spent time thinking about this in the past already. Cake sometimes uses _something to pass additional things. So besides the operations we could pass the imagine settings as well somehow like this:

[code]

We just need to

[2015-08-13 08:22] robertpustulka commented on #79
That's a great idea. I'd update the codez :)

[2015-08-13 09:49] burzum commented on #79
Sure, it's easy to do. That's exactly what the _output options are thought for, to allow modification of any parameter.

Keep going, good work! :+1:

[2015-08-13 12:33] robertpustulka commented on #68
PR #74  is open

[2015-08-13 12:33] #68 closed

[2015-08-13 13:52] robertpustulka commented on #79
OK, PR is merged.

[2015-08-13 13:57] robertpustulka opened #80 "Update the docs for new features introduced in #74"
Just a reminder for me :)

- ~~behaviors (+ tests!!!)~~
- [x] [shells updates (overwrite)](https://github.com/burzum/cakephp-file-storage/blob/1.1/docs/Documentation/The-Image-Version-Shell.md)
- [x] [_output config](https://github.com/burzum/cakephp-file-storage/blob/1.1/docs/Documentation/Image-Storage-And-Versioning.md)
- ~~version paths~~ *eventually we left it as it was AFAIR*
- [x] [path bui

[2015-08-13 14:06] burzum commented on #80
There is already a start for [the path builders](https://github.com/burzum/cakephp-file-storage/blob/3.0-event-overhaul/docs/Documentation/Path-Builders.md).

[2015-08-13 14:14] #79 closed

[2015-08-13 14:33] burzum commented on #80
@robertpustulka  I've made you a contributor of the repo, you'll have now direct access. But please stick to work in branches and merge them after peer review.

[2015-08-13 15:51] burzum commented on #78
Let me know if this fixed it for you.

[2015-08-13 16:06] Adnan0703 commented on #78
`fileSize($value, $size, $operator = '>')`

[code]

operator and message doesn't match.

[2015-08-13 16:13] burzum commented on #78
Feel free to submit a PR, I'm not sure I can fix this properly before Monday.

[2015-08-13 16:34] Adnan0703 commented on #78
OK. I'll submit a PR.

[2015-08-14 03:18] Adnan0703 commented on #78
Submitted the PR https://github.com/burzum/cakephp-file-storage/pull/82

[2015-08-14 06:06] robertpustulka commented on #80
@burzum thanks!

[2015-08-14 06:11] #78 closed

[2015-08-14 07:52] Adnan0703 opened #83 "UploadValidatorBehavior error messages"
Error messages get assigned before validation. filesize, extension, mime type aren't assigned before validation. They won't appear in error messages.

https://github.com/burzum/cakephp-file-storage/blob/3.0/src/Model/Behavior/UploadValidatorBehavior.php#L97

https://github.com/burzum/cakephp-file-storage/blob/3.0/src/Model/Behavior/UploadValidatorBehavior.php#L107

https://github.com/burzum/cakeph

[2015-08-14 08:01] robertpustulka commented on #83
That's probably because file properties are resolved on `beforeSave` which is dispatched after the entity has been created and validated.

I'd move [this part](https://github.com/burzum/cakephp-file-storage/blob/3.0/src/Model/Table/FileStorageTable.php#L73-L87) to `beforeMarshall` method. That will make sure file properties are present on validation.

[2015-08-14 16:01] repher opened #85 "Error on save in commit 31a2344dcb01a905a553e8701534a14421cffacd"
Hey!

Just testing the new commit 31a2344dcb01a905a553e8701534a14421cffacd. Seems to me there is a bug in the Event dispatching process (or my code?) I simply cannot find it.

My custom Table
[code]
The listener in ```bootstrap.php```:
[code]
My save call:
[code]
This error happens:
[code]
Somewhere on the way the $entity gets to ```true```. Checked in ```LocalListener.php``` via:
[code]
See also

[2015-08-14 16:46] Adnan0703 commented on #83
I don't think it will fix this.
[Here] (https://github.com/burzum/cakephp-file-storage/blob/3.0/src/Model/Behavior/UploadValidatorBehavior.php#L97) we're only setting validator. No validation has been performed yet. While setting validator `getFilesize` and other getters get called.  [These getters] (https://github.com/burzum/cakephp-file-storage/blob/3.0/src/Validation/UploadValidator.php#L260-L2

[2015-08-15 10:52] burzum commented on #85
I can confirm the issue but couldn't find out by a quick look what's wrong.

[2015-08-15 11:01] repher commented on #85
Mmmh. Maybe I'll find the time to have another look at it later...

[2015-08-15 11:13] burzum commented on #85
@repher I've added a test that reproduces the error, but I still could not figure out the case. Seems to be pretty weird that it becomes boolean.

[2015-08-15 11:22] repher commented on #85
I tried to track it down yesterday but to no success....

[2015-08-15 18:56] burzum commented on #85
@robertpustulka any ideas which of the changes you've done could case that? I've spent some more time on it without success either so far.

[2015-08-16 01:56] artnos opened #86 "Quick Start Guide instructions issue"
https://github.com/burzum/cakephp-file-storage/blob/3.0/docs/Tutorials/Quick-Start.md

I get this error in my `upload.ctp`

in your controller you never set $productImages

[code]

What is the correct way? Can you guys share a project with this working so i can dissect it. Thank you

[2015-08-16 10:21] burzum commented on #85
@repher please try again

@robertpustulka please review my fix, I'm not sure why under some circumstances the 2nd arg passed to the method is/was boolean in this case. It might happen in other places as well. My *guess* so far is that you've made the same methods listen to different kinds of events:  Table.afterSave and FileStorage.afterSave.

[2015-08-16 10:35] burzum commented on #86
I've updated the documentation, please try it again, haven't tested it myself because I would have to set the whole thing up again.

There is no project public available that uses the plugin, as far as I know, and I don't think it is necessary. The plugin comes with a ton of documentation. The issue you found wasn't hard to fix either, I guess you're a beginner in CakePHP, so I would recommend you

[2015-08-16 10:36] #86 closed

[2015-08-16 10:36] #85 closed

[2015-08-16 11:12] repher commented on #85
Perfect! Works for me now, thanks! But kind of strange anyways ...

[2015-08-16 11:12] robertpustulka commented on #85
@burzum AFAIR there's some dispatcher that sets 'created' to true as a first event data argument. Longs story short - events dispatchers were messed up and called inconsistently. I didn't realize it's going to be an issue though. All these parts of code must be found and we have to make sure, entity is always the first argument.

[2015-08-16 11:32] robertpustulka commented on #83
Ah sorry I haven't read your issue carefully. It's the issue with messages set in a behavior not a validator itself it seems.

Do you have an idea how to fix this? It seems like messages has to be set after validation. Callable support for validation messages could be helpful, but that's something Cake does not support currently AFAIR.

[2015-08-16 12:34] burzum commented on #83
Would be nice if we could do so, but if it's blocker ignore it for now.

I hate this kind of IMHO stupid messages "You can't do that." without telling you a reason like "...because your file is 100kb to big."). So for example I try to upload an image or file and have to go by trial and error to figure out if the stupid application is finally accepting my file or image size. It's just bad UX.

[2015-08-16 12:52] burzum commented on #85
@repher check the changes again and Roberts comment if you want to know why this is strange. :)

@robertpustulka oh, well done. I was not aware the order of the data array matters.

Done.

[2015-08-16 12:56] artnos commented on #86
Thank you for getting back to me, I appreciate all your work.
One quick last question if you dont mind

In the quickstart in your controller you call
$this->Products->ProductImages->upload($productId, $entity)

But in your table and ImageStorageTable that you extend there is no upload,
you have
  public function uploadImage($productId, $entity) {

Should it be using that instead?

On Sun, Aug 16,

[2015-08-16 12:56] robertpustulka commented on #83
Yeah, I agree. But these kind of informant messages should be configured in a view for example, where you can feed them with a current entity. Of course you can tell a user what size and type of files your app supports. That can be enough - you don't have to tell them that 5.1MB files is 100KB too large for a 5MB limit. The limit info should do fine.

[2015-08-16 13:22] repher commented on #85
If I understand this correctly, the problem lies in the way the callbacks are calles [here](https://github.com/cakephp/cakephp/blob/master/src/Event/EventManager.php#L376). In my eyes a strange implementation ...

Thanks for finding this!

[2015-08-16 13:31] burzum commented on #85
@repher it makes sense to provide a shortcut to the entity, but I don't see any other reason for this either. Maybe @lorenzo or @josezap could explain it.

[2015-08-16 14:19] artnos commented on #86
Thanks for answer in the cake chat

I got the files to upload to the table but it wont appear in my tmp
folder even after I changed adaptor-option

I noticed the link you provided me in the chat was file-storage master
branch i was using the 3.0 branch which one should i be using? Master?

On Sun, Aug 16, 2015 at 8:55 AM, Art Sir <artnos@gmail.com> wrote:

--
Art Siriamonthep

[2015-08-16 15:23] burzum commented on #86
Sorry!

3.0 = CakePHP 3.0
master = CakePHP 2.0

Use Composer: ~0.0 for CakePHP 2 and ~1.0 for CakePHP 3.0. See https://github.com/burzum/cakephp-file-storage/wiki/Roadmap

[2015-08-16 15:26] burzum commented on #80
@robertpustulka any idea why the table tests have 0% coverage? The tests are there... :worried:

See https://travis-ci.org/burzum/cakephp-file-storage/jobs/75826022

[2015-08-16 19:10] robertpustulka commented on #85
@burzum I imagine that doing reflection on each and every callback just to get argument names would hit the performance too hard.

[2015-08-16 19:12] artnos commented on #86
Hey, just wanted to let you know it works now. It was something really dumb
my fault. Thank you for your patience.

On Sun, Aug 16, 2015 at 11:23 AM, Florian Krämer <notifications@github.com>
wrote:

--
Art Siriamonthep

[2015-08-16 21:27] burzum commented on #80
@robertpustulka  Can we consider the path builder section of the documentation as done?

[2015-08-16 23:09] burzum commented on #83
So the consent on this is to reword the messages and remove the values for now?

[2015-08-16 23:45] artnos opened #89 "Error in log Method for ImageProcessingListener line 287"
Fatal error: Call to undefined method Burzum\FileStorage\Event\ImageProcessingListener::log() in /Applications/MAMP/htdocs/store/vendor/burzum/file-storage/src/Event/ImageProcessingListener.php on line 287

Uploading files work fine for me until I tried to change the StorageManager location

//I added this to the bottom of my file_storage.php which is included in my bootstrape.php
StorageManager::

[2015-08-17 00:21] artnos commented on #89
My mistake, I got it now.

[2015-08-17 00:21] #89 closed

[2015-08-17 22:14] burzum commented on #83
@Adnan0703  I'm closing this now, please let me know if this is still in some way an issue for you.

[2015-08-17 23:21] #83 closed

[2015-08-17 23:24] burzum opened #90 "fullFilePath() & fileUrl() is implemented wrong in the event-overhaul branch"
@robertpustulka this won't work.

[code]

The path builder *won't* match the adapter name! For example you have configured `Local1` and `Local2` or `S3BucketFiles` and `S3BucketImages - I guess you get the idea - there are no such path builders (S3BucketFilesPathBuilder...) available.

I would really prefer to trigger an event here so that *all* logic that is involved for an adapter is handled ins

[2015-08-17 23:39] burzum opened #91 "BC breaking change in the event-overhaul branch for FileStorage.ImageHelper.imagePath"
@robertpustulka you **can't** simply rename an event. This *will* be a BC breaking change. Please review my change here https://github.com/burzum/cakephp-file-storage/commit/2a82be571965f14b797cc4296107c7b61cf0ec22.

[2015-08-18 08:49] robertpustulka commented on #90
OK, that was made before I realized how this really works :).
I still don't like involving events for something they shouldn't supposed to do, but it has to be like that for now. I'll fix this as soon as I find time for it.

[2015-08-18 08:51] robertpustulka commented on #91
I'm not quite sure what has been removed? LocalListener still [listens for both of the events](https://github.com/burzum/cakephp-file-storage/blob/3.0-event-overhaul/src/Storage/Listener/LocalListener.php#L66-L67). Just the same as the [old listeners do](https://github.com/burzum/cakephp-file-storage/blob/3.0-event-overhaul/src/Event/ImageProcessingListener.php#L65-L69). Even if the event in a hel

[2015-08-18 09:03] burzum commented on #90
Why do you think an event is not the right tool here? I would like to get some arguments that convince me to not use an event here. Before you write code let's discuss your alternative solution.

Everything else that does the actual processing is implemented in the listener, so following SoC there should be a single central place that is separated from other that deals with this.

[2015-08-18 09:08] burzum commented on #91
You removed the trigger itself, we can't do this in the next release because its thought to be BC compatible. You don't know what people implemented, like their own custom listeners. They'll likely break with the old event trigger being removed. I've added the firing of the old event back.

Also I've started writing notes down in the roadmap wiki page about things that should be removed in the nex

[2015-08-18 10:36] robertpustulka commented on #91
Right. But we've broken the BC the similary way by removing Entity typehints in place of EntityInterface. If somebody overridden table callbacks in their tables the strict errors would be triggered. I'm afraid that there must be some sacrifices. Clutching too tightly to the legacy code is never a good thing.

[2015-08-18 10:53] robertpustulka commented on #90
For the next major release I'd move all the file and image processing code to the seperate classes that aren't tightly coupled to the event system. A listener isn't a good place to do the procesing. A listener could have some FileProcessor passed as a dependency and act as a proxy - call the right methods at a right time. The point is to have the code that can be flexible and reusable in different

[2015-08-18 11:50] burzum commented on #90
That's fine, but let's make a quick decision to not delay the release for weeks. Will my proposed change work for your architecture plans? I dislike the idea of introducing something new here and then dropping it again in a few month. This should be build in a way it works in the future as well without any changes at all if possible.

[2015-08-18 11:56] burzum commented on #91
That's easy to fix and will cause an obvious warning. While removing an event trigger will cause "WTF?" moments for the users because it simply won't fire their expected event and *silently* not executing the code they expected to get executed.

I agree, but ever and quickly changing libs suck (look at the complaints after each Laravel release). The B2B "enterprise" world moves slowly and doesn't

[2015-08-18 12:23] robertpustulka commented on #90
My suggestions are more like for 2.0 version of the plugin. Let's not delay anything. If you have the time, you can reimplement those two methods like you suggested - I'm ok with that for 1.x versions. This plugin is now based on listeners heavily and I don't want to change anything in that aspect for now.

[2015-08-18 12:30] robertpustulka commented on #91
I agree. I won't have the time to test them properly now so let's not hold anything. These can wait a bit longer.

Though I have plans for the next major release, I don't intend to break anything a the moment as I'm now familiar with the roadmap of the plugin.

[2015-08-18 13:52] burzum commented on #90
But even if they're for that, I don't like the idea of introducing things and throwing them away within a few month again. This is pretty bad for the users of the plugin. So I would like to implement this in a way that would provide a flawless and if possible completely BC compatible future upgrade path.

[2015-08-18 15:45] burzum commented on #90
I'll be out and travel for the next 2 days and probably won't have internet access, so don't expect to hear from me until I'm back on Friday.

[2015-08-19 15:15] artnos commented on #86
Hey man, I hate to bother you again. I am really trying to figure this out
on my own. When I pass in my ID from the file storage table through the
image helper it doesn't work or return anything.

I attached an image to my situatio. Thank you for your time.
[image: Inline image 1]

On Sun, Aug 16, 2015 at 3:11 PM, Art Sir <artnos@gmail.com> wrote:

--
Art Siriamonthep

[2015-08-19 15:22] artnos commented on #86
I think it has something to do with the hash field. It's empty.

On Wed, Aug 19, 2015 at 11:15 AM, Art Sir <artnos@gmail.com> wrote:

--
Art Siriamonthep

[2015-08-19 18:57] robertpustulka commented on #86
@artnos Which version are you using? Can you paste the code which isn;t working as expected?

[2015-08-19 19:34] artnos commented on #86
The code that isn't working as expect is $this->Image->display(
$product->file_storage[0]->id );
I echo  $product->file_storage[0]->id  and the id from the file_storage
table is returned.
I added the Image helper in app view
Upload works fine and is added to my file_storage table

i did composer install on
"burzum/file-storage": "3.0.*@dev",
 "burzum/cakephp-imagine-plugin": "3.0.*@dev",

I attach

[2015-08-19 19:36] artnos commented on #86
img link here
https://www.dropbox.com/s/tirgkx6su83s2xc/file-storage.jpg?dl=0

On Wed, Aug 19, 2015 at 3:33 PM, Art Sir <artnos@gmail.com> wrote:

--
Art Siriamonthep

[2015-08-19 20:20] robertpustulka commented on #86
@artnos ImageHelper methods work on an entity, not an id.

[2015-08-19 20:34] artnos commented on #86
oh okay! thank you, so i passed in
//$product->file_storage[0]
and it gave me an image!
<img
src="images/Products/43/77/81/e5b6d825cc574f1587bafe16e0aca67e/e5b6d825cc574f1587bafe16e0aca67e.19e760eb.jpg"
alt="">
awesome making progress!
but my image is located in the folder 'files'
so it should be
files/images/Products/43/77/81/e5b6d825cc574f1587bafe16e0aca67e/e5b6d825cc574f1587bafe16e0aca67e.19e76

[2015-08-20 01:56] Adnan0703 commented on #86
@artnos `ImageProcessingListener` adds the `images` prefix, [here] (https://github.com/burzum/cakephp-file-storage/blob/3.0/src/Event/ImageProcessingListener.php#L261). You must be using `LocalFileStorageListener` which adds the `files` prefix, [here] (https://github.com/burzum/cakephp-file-storage/blob/3.0/src/Event/LocalFileStorageListener.php#L81).

[2015-08-20 14:47] artnos commented on #86
Thank you that helps !

On Wed, Aug 19, 2015 at 9:56 PM, Adnan0703 <notifications@github.com> wrote:

--
Art Siriamonthep

[2015-08-24 14:12] artnos commented on #31
Hi I am trying to delete as well with my versioning,

In my  ProductImagesTable I extends ImageStorageTable

This is where I have my upload method based on your tutorial.

I tried to create a delete method that removes the FileStorage row hoping the ImageStorageTable would run the ImageProcessingListener to listen for the delete which would remove the files like the upload did but that didn't work

[2015-08-25 07:06] burzum commented on #31
@artnos it is nearly impossible to understand the problem without knowing the code. You need to come up with an easy and clear to reproduce scenario.

Please provide an [unit test](http://book.cakephp.org/3.0/en/development/testing.html) that demonstrates the problem.

[2015-08-25 16:18] artnos commented on #31
I don't know how to unit test but I made a stackoverflow and detailing my enviroment
http://stackoverflow.com/questions/32209075/cakephp-3-filestorage-plugin-triggering-the-imageprocessinglistener-to-delete-ve

I hope this helps.

[2015-08-25 19:30] robertpustulka commented on #31
@artnos Please read about deleting data in CakePHP: http://book.cakephp.org/3.0/en/orm/deleting-data.html
Now you're doing it wrong.

[2015-08-25 20:11] artnos commented on #31
ugh, thank you I changed my delete to
        $entity = $this->get($fileStorageID);
        $result = $this->delete($entity);

I knew about deleting this way i dont know why i choose the other way.
It doesn't remove the folders though, but that doesn't really matter. Thanks so much.

[2015-08-26 12:02] burzum commented on #91
@robertpustulka any idea how to keep the behaviors in the code base but removing them from the 1.1 branch? When I remove them in the 1.1 branch we'll get a merge conflict later about that they were deleted but still existent in a future branch (1.2)?

[2015-08-26 13:20] robertpustulka commented on #91
Can't we just keep them in a 1.2 branch and delete them from 1.1? I don't see why why should ever merge 1.1 into 1.2. All the patches should be in seperate branches in PRs anyway.

[2015-08-28 08:00] burzum commented on #80
@robertpustulka what do you think about this diagram? Any suggestions for improvements?

https://www.dropbox.com/s/oosvkcagcs32ioe/Screenshot%202015-08-28%2009.59.45.png?dl=0

[2015-08-28 08:15] burzum commented on #91
@robertpustulka please review the branches, I've removed the overhaul branch and created 1.0.0, 1.1.0 and 1.2.0.

[2015-08-28 08:15] #91 closed

[2015-08-28 08:42] burzum commented on #90
@robertpustulka I know you're busy but could we please make a decision on how to implement this? I would like to go ahead with 1.1.0.

[2015-08-28 08:46] robertpustulka commented on #90
The event based approach you suggested is currently the best one. I'm leaving for a week tomorrow so I won't be able to do it myself in that time.

[2015-08-28 08:56] burzum commented on #90
I'll take care of it, enjoy your vacations!

[2015-08-28 08:58] robertpustulka commented on #90
Thanks, I'll think about the rest of the issues after I come back :)

[2015-08-31 15:36] burzum commented on #90
@robertpustulka the way I implemented it now doesn't require a helper, instead you can now get (any) path directly from the entity. I'm just still not happy with the image versions but I think this should be handled in a similar way. Maybe I'm going to add FileStorageEntity::versionPath('type', $options); or something similar, I guess I'll have to try a few things to figure out a nice way to use t

[2015-09-03 20:24] burzum opened #94 "Refactor the way to get the path and version paths from an entity"
The way I implemented it now doesn't require a helper, instead you can now get (any) path directly from the entity. I'm just still not happy with the image versions but I think this should be handled in a similar way. Maybe I'm going to add FileStorageEntity::versionPath('type', $options); or something similar, I guess I'll have to try a few things to figure out a nice way to use that functionalit

[2015-09-03 20:25] burzum commented on #90
Closing this in favour of https://github.com/burzum/cakephp-file-storage/issues/94

[2015-09-03 20:25] #90 closed

[2015-09-09 07:34] robertpustulka commented on #80
@burzum What's the purpose of this diagram? Do you want to include it in the docs?

[2015-09-09 07:39] robertpustulka commented on #91
@burzum there's no 1.0.0 branch - 1.0 instead. Isn't that confusing? I understand that 3.0 is left for people using CakePHP 3.x version of the plugin and the naming is OK.

[2015-09-09 07:46] robertpustulka commented on #94
Does #95 intend to fix this?

[2015-09-09 21:19] burzum commented on #80
@robertpustulka I've already put it in there. ;)

[2015-09-09 21:20] burzum commented on #91
True, feel free to change that.

[2015-09-09 21:20] burzum commented on #94
Yes

[2015-09-15 08:42] robertpustulka commented on #94
OK, I'm closing this.

[2015-09-15 08:42] #94 closed, assigned to nobody

[2015-09-15 08:50] burzum commented on #80
@robertpustulka are you back from your vacation? Any input from your side?

[2015-09-15 09:00] robertpustulka commented on #91
@burzum Let's decide on how to maintain branches for releases. CakePHP has branches for minor versions and I think that's the good way to go. How about renaming 1.1.0, 1.2.0 etc branches to 1.1, 1.2 etc respectively? That will make sure branches does not collide with tags for releases.

[2015-09-15 09:08] robertpustulka commented on #80
@burzum when I find the time for it... Now I have a lot's of work for my company.

[2015-09-15 12:34] burzum commented on #94
@robertpustulka I'm not yet happy with the code for this :( But I haven't found a better way yet. So your input on this is welcome when you have the time to do so.

[2015-09-16 08:29] burzum commented on #91
@robertpustulka feel free to do that change. Just ping me so that I can update Scrutinizers branch settings as well.

[2015-09-16 08:52] robertpustulka commented on #91
@burzum done. Renamed branches 1.1.0 to 1.1 and 1.2.0 to 1.2

[2015-09-19 05:09] Adnan0703 opened #98 "Which branch?"
Which branch I should use for cake3 1.0, 1.1, or 3.0?

[2015-09-19 14:19] robertpustulka commented on #98
All 1.x branches are for CakePHP 3.x, versions 0.x are for Cake 2.x.
Please see the roadmap in the wiki for more info.

3.0 is a legacy branch and probably will be removed in the future.

[2015-09-20 01:48] Adnan0703 commented on #98
Three options confused me a little.
Docs show installing 3.x (`composer require burzum/file-storage:3.0.*@dev`), burzum recommended [here](https://github.com/burzum/cakephp-file-storage/pull/97) 1.1, and there's also 1.0 for cake3.

[2015-09-20 19:55] burzum commented on #98
Check the release tags. 1.x is stable at this moment, 1.1 and up is in development. 1.1 is mostly done, needs more unit tests and documentation. Also some of the new image version stuff is work in progress. Besides that it should be fully backward compatible.

See [the roadmap](https://github.com/burzum/cakephp-file-storage/wiki/Roadmap) for further information.

[2015-09-20 19:58] #98 closed, assigned to nobody

[2015-09-21 03:20] commercial-hippie opened #99 "S3 directory specified double slash issue"
I'm uploading files to S3 and specifying a sub directory.  When the [path gets built](https://github.com/burzum/cakephp-file-storage/blob/1.1/src/Event/S3StorageListener.php#L100) there is a slash prepended.  When the path gets passed to [Gaufrette](https://github.com/KnpLabs/Gaufrette/blob/master/src/Gaufrette/Adapter/AmazonS3.php#L295-L302) and there is a `directory` set it will add another slas

[2015-09-21 06:43] commercial-hippie commented on #99
Actually removing the slash causes the `pathBuilder::url()` to generate a incorrect URL :(

http://s3.amazonaws.com/xxx.com.assets/7d/5d/a0/d6e1f51f446c4fd39b8c530bdbbf5f4d/

[2015-09-21 07:50] robertpustulka commented on #98
@burzum How about doing a 1.0.1 release with improvements made to 1.0 branch?

[2015-09-21 08:58] burzum commented on #98
@robertpustulka which improvements exactly, would you mind to list them? We can do that but I would like to do a 1.1-beta or 1.1-RC and then the final for the major features.

For the minor improvements feel free to create a 1.0.1 release. But this should include https://github.com/burzum/cakephp-file-storage/issues/99.

[2015-09-21 09:03] burzum commented on #99
Are you sure there won't be any other issues when the leading `/` gets removed? I see you're using `'directory' => 'tools',` in the adapter options. Guess this is defining the base "directory". Does that still work without using a base path for example?

I don't have access to S3 storage right now, we're not using it, so I can't test this quickly.

[2015-09-21 09:14] robertpustulka commented on #98
After #99 gets fixed we can do a bugfix release. 1.0.0 is ~10 commits behind 1.0 branch and it's been nearly a month since 1.0.0 release.

[2015-09-21 09:19] burzum commented on #98
OK, agreed. Any idea about #99 by the way? I don't want to simply remove the `/` without knowing what else it might affect. We're not using S3 here, so I can't test it quickly.

[2015-09-21 09:26] robertpustulka commented on #98
I'm not using S3 either... Maybe @commercial-hippie has an idea how to fix it :)

[2015-09-21 11:14] commercial-hippie commented on #99
Yeah I actually ran into a issue with the pathBuilder trying to get the URL.  It needs the `/` on the URL otherwise this happens `site.com.auassets`.

I just made some basic workarounds to get it working for now. I might have some time this week to familiarize myself with the code and see if I can make a fix.

Also, not sure if its meant to be used like this but I created my own `AssetsTable` that

[2015-09-21 11:47] burzum commented on #99
Yes, it is thought to extend the table classes. You're probably right with your discovery about the re-trigger of the afterSave callback. If you would like to help getting it fixed I would really appreciate it as I'm short on time this week and don't have a working S3 setup.

Just ask me whatever you need in case of a question here or on IRC, if you like to on Skype as well.

[2015-09-22 07:24] commercial-hippie commented on #99
Hope this is not a silly question but these functions are doing pretty much the same stuff? [Local](https://github.com/burzum/cakephp-file-storage/blob/1.1/src/Event/LocalFileStorageListener.php#L49-L108) & [S3](https://github.com/burzum/cakephp-file-storage/blob/1.1/src/Event/S3StorageListener.php#L37-L121) listeners.

They could probably both use the same functions because the differences should

[2015-09-22 07:28] burzum commented on #99
The question is not silly :) They're more or less the same. If you look at src/Storage/, at the Listeners and PathBuilders there, you see that the 1.1 branch is a complete overhaul of the historical mess of the old event listeners. I didn't liked the old listener code. If you know how to work with S3 you could in theory add the S3 event listener as /src/Storage/Listener/S3Listener.php. The path bu

[2015-09-22 08:21] commercial-hippie commented on #99
Ah, that makes a lot more sense, I will see if I can build the S3Listener tomorrow then, and add in the fixes for the old one as well.

I think the PathBuilder just needs to account for the S3 region.

[2015-09-22 11:16] burzum commented on #99
I'm not sure if the region is a hard requirement or if it picks a default otherwise. However, this can be implemented by just adding it to the options of the path builder.

[2015-09-24 07:52] burzum commented on #99
Refs https://github.com/burzum/cakephp-file-storage/pull/101

[2015-09-24 19:42] burzum opened #102 "Image versions are not deleted"
Image versions are not deleted.

Using the local adapter, but I think it's a bug in the image processing trait.

[2015-09-24 20:09] burzum commented on #102
@robertpustulka I've fixed this, the reason is an inconsistant check of the `imageProcessing` config of the adapter. This made the removal working but I realized then that it *always* generates the images for some reason... Any idea? A lot of these changes are from you.

[2015-09-24 20:29] burzum commented on #102
Meh, my own fault...

[2015-09-24 20:29] #102 closed, assigned to burzum

[2015-09-28 11:09] burzum commented on #99
I consider this as fixed in #101.

Please let me know if there is something else.

[2015-09-28 11:09] #99 closed, assigned to nobody

[2015-09-29 11:58] btaens opened #104 "StorageManager::adapter() should return Gaufrette Adapter interface"
Hello,
The adapter() function in StorageManager should return the Gaufrette Adapter interface, for IDE handling purposes.

[2015-09-29 12:49] burzum commented on #104
It already returns an adapter instance? When does it not return one?

Or are you just talking about the doc block? https://github.com/burzum/cakephp-file-storage/blob/1.1/src/Storage/StorageManager.php#L78

[2015-09-29 14:29] btaens commented on #104
Oh, sorry, yes, I mean the phpdoc tag for it, so just the @return in the comment. That way, IDEs can recognize what functions are callable afterwards even without having to know what adapter it precisely is.

[2015-09-29 15:11] burzum commented on #104
I can do it tomorrow, if you like to do it just do a PR and I'll merge it when I'm back later tonight.

[2015-09-30 12:00] btaens commented on #104
Ah, sorry, I may be wrong. I think it's supposed to return the Filesystem class.

[2015-09-30 14:11] burzum commented on #104
OK, will have to change it again then, I've already made the changes in the 1.1 branch.

[2015-10-13 07:54] burzum commented on #104
Fixed in the 1.1.0 branch.

[2015-10-13 07:54] #104 closed, assigned to nobody

[2015-10-14 09:15] burzum commented on #56
Has anyone of you already experience with Flysystem? I'm looking for somebody to test https://github.com/burzum/storage

[2015-10-17 09:42] RoqueCampos opened #107 "Typo error in getting started?"
Hi,

I'm trying to include your plugin in my project, because of that I added all the composer dependencies and followed your getting started tutorial. I'm using the version 3.0 of the plugin, for cakephp 3.

The problem is that after following your getting start tutorial, I receive the following error when trying to  create the new entity. I Invoke

[code]

the error message is:

[code]

I'm not

[2015-10-17 09:47] RoqueCampos opened #108 "Call to undefined method Burzum\\FileStorage\\Event\\ImageProcessingListener::log()"
Hi!

When I invoke the saveEntitiy method in the following class:

class ProductsImagesTable extends ImageStorageTable
{

[code]

}

I receive the error in the subject of this message. I'm a newbie to cake php because of that I don't know if maybe my cakephp framework is erroneously configured.

I noticed that your plugin invokes the log function with $this->log, and that does not work for me (I u

[2015-10-17 17:14] burzum commented on #107
If you're using the most recent stable version, which is *1.0*, the documentation is correct.

Please see https://github.com/burzum/cakephp-file-storage/blob/1.0/docs/Tutorials/Quick-Start.md

[2015-10-17 17:18] burzum commented on #107
I've fixed this in the 1.1.0 version. Might backport it to 1.1.0 later. Thank you.

[2015-10-17 17:18] #107 closed, assigned to burzum

[2015-10-17 17:21] burzum commented on #108
The class is missing the LogTrait, I'll add it, forgot that when I migrated the code to Cake3.

You should not use singletons, this introduces tight coupling and is shitty to test as well. Instead you should use the LogTrait which adds the log() method.

[2015-10-18 09:59] burzum commented on #108
It's fixed and released as 1.0.1 in the 1.0 branch. Make sure your composer file is using the correct version declaration. Let me know if there are other issues.

By the way, check the 1.1.0 branch. The whole listeners, which are pretty old and ugly, have been rewritten, use the listeners from the /src/Storage/Listener folder instead. They're much better written.

[2015-10-18 09:59] #108 closed, assigned to burzum

[2015-10-20 08:12] RoqueCampos commented on #108
Thank you very much!

[2015-10-28 19:19] RoqueCampos opened #109 "How to distinguish between the different versions of the image?"
Hi,

In my config I defined three versions for my images (high, medium, small). A client App invokes the api and should receive an array with entities, each entity containing all the associates images for this entity.

It is easy to load the associated images:

[code]

And yes, there are all the images for each review attached in an array. The question is, how to distinguish between the small, med

[2015-10-28 21:16] burzum commented on #109
Check the [ImageStorageTable::getImageVersions()](https://github.com/burzum/cakephp-file-storage/blob/1.0/src/Model/Table/ImageStorageTable.php#L182) method.

[code]

This should do what you want. If not you can use the same event to get the sizes.

[2015-10-28 21:16] #109 closed, assigned to nobody

[2015-10-28 21:18] burzum commented on #80
@robertpustulka do you have time to finish the documentation of your added features and time soon? If not I'll do the 1.1 release without the docs to make some progress.

[2015-10-30 08:29] robertpustulka commented on #80
@burzum I'll start on Monday, and hopefully finish it until the end of a week.

[2015-11-01 18:21] anto2b opened #110 "Creating versions of images not working"
Cake PHP 3
PHP Version 5.5.12

When I try to create versions of my image i have an error (without versions it works !). Here is my stackrace :

[code]

My file_storage.php in APP/config/

[code]

My CompanyImagesTable.php

[code]

CompaniesTable.php

[code]

My Controller action

[code]

[2015-11-01 22:12] burzum commented on #110
Which branch or version of the plugin are you using?

[2015-11-01 23:11] anto2b commented on #110
In my composer.json I have

[code]

[2015-11-02 09:39] burzum commented on #110
Try composer update and let me know if it works. I've tagged 1.0.2. The issue is fixed in https://github.com/burzum/cakephp-file-storage/commit/8ff4c19e9578f1b2d05bba46ac6340d1bd6ff7b2.

There will be still some issue: The cause for the problem you reported was the wrong use of the log() method, I fixed that. But you get an exception thrown somewhere, check your log files after the update. I assum

[2015-11-02 11:24] anto2b commented on #110
In my log file, I  have :

[code]

[2015-11-02 11:32] burzum commented on #110
The table instance has no method `processImage()`, this method is usually provided by the [ImagineBehavior](https://github.com/burzum/cakephp-imagine-plugin/blob/master/src/Model/Behavior/ImagineBehavior.php#L62) that is used by the ImageStorageTable. I've checked the code and it looks OK and works for me. There must be something wrong in your code. Are you loading the Imagine plugin in your boots

[2015-11-02 11:58] anto2b commented on #110
Sorry, I forgot to import the plugin in my bootstrap.php. I added this

[code]

Now, I have no errors in my log files but the different versions of my image are not created.

I have juste the original image in APP/tmp/images/CompanyImage/07/69/58/50/50.jpg

[2015-11-02 11:59] #110 closed, assigned to burzum

[2015-11-02 12:01] anto2b commented on #110
Sorry I always this error in my log file

[code]

[2015-11-02 12:02] burzum commented on #110
I'm closing this because the original issue is resolved.

No idea why you're getting this error. Check if the behavior is attached to the model instance this method is called on.

[2015-11-02 12:04] anto2b commented on #110
Despite having loaded the Imagine plugin in my bootstrap, I always this error in my log file

[code]

[2015-11-02 12:06] burzum commented on #110
Well, debug the cause. I can just tell you it is working for me. Sorry, I don't have the time to remote debug code I don't know by making guesses. You'll have to debug it. I don't mind fixing the plugin _if_ the cause is in the plugin but you need to come up with something solid that I'm able to reproduce.

[2015-11-06 09:10] burzum commented on #80
@robertpustulka any news on this? I'll be on a business trip next week and definitely will do a release when I return.

[2015-11-09 11:30] robertpustulka commented on #80
@burzum no chance, sorry... I have too much stuff to do right now, no time for open source :/

[2015-11-13 12:09] mmaccuaig opened #111 "Windows Azure Connection"
I have managed to set everything up and files can be upped locally along with entering records in the DB. But I just cannot seem to get Windows Azure storage to save the uploaded items? It's saving to the DB fine. (Removed credentials from connection string). Help would be much appreciated :)

[code]

EDIT: Also, if I allow the container to be created that works fine. So it is connecting to the st

[2015-11-13 12:22] mmaccuaig commented on #111
Urgh, realised from your documentation that I needed to use the adapter to write to the storage. Sorry!

[2015-11-13 12:22] #111 closed, assigned to nobody

[2015-11-14 19:42] burzum commented on #111
@mmaccuaig no problem. :)

Would you mind sharing the complete working configuration so that I can add them to the documentation? I've never used Azure before. Or is the above functional and you just forgot to use the adapter?

[2015-11-16 14:47] robertpustulka commented on #80
I forgot that we dropped behaviors for 1.1 and it seems it wasn't that much to update in the docs.

[2015-11-16 14:47] #80 closed

[2015-11-20 23:03] choma opened #113 "Questions about the docs"
I've been reading the docs and found some things that are confusing to me.

First, in the quick start, there is a [theoretical model setup](https://github.com/burzum/cakephp-file-storage/blob/1.1.0/docs/Tutorials/Quick-Start.md#theoretical-model-setup). I don't get what `uploadImage()` and `uploadDocument()` functions are for. Wouldn't be easier, at least for teaching purposes, to set `model` fiel

[2015-11-23 14:03] GuidoHendriks opened #114 "Deleting images on Local"
When deleting an existing image using the `old_file_id` property, `delete()` is called on the storage adapter with the `path` as key. Because the path is the directory the files are stored in, `rmdir()` is called in the adapter. This won't work since `rmdir()` can only delete empty directories.

[2015-11-23 22:41] burzum commented on #113
You could do it this way but I prefer setting them explicit and not magically everywhere. If you use the `Model.beforeSave` callback be aware, it will add this field on _all_ entities in _all_ models / tables!

Maybe. :) Try your implementation and let me know if something blows up or not.

No, you need to use one of the methods that is building the path for you. What version are you using? And ho

[2015-11-23 22:42] burzum commented on #114
Which version of the plugin are you using? Tag or commit id please.

Also which adapter and model are you using? I need this information to reproduce the problem.

[2015-11-24 11:47] GuidoHendriks commented on #114
I'm on version 1.0.2 (8ff4c19e9578f1b2d05bba46ac6340d1bd6ff7b2). Using `FileStorage` table and `Local` adapter.

[2015-11-24 11:56] burzum commented on #114
Thank you. I'll see when I can find time to reproduce and fix this issue and adding tests. I have a pretty busy week and a tournament next weekend. So there is a probability I might not be able to fix this before next week. If you like to you can provide an unit test meanwhile or a fix via PR (unit test required).

[2015-11-24 12:11] GuidoHendriks commented on #114
Will try to squeeze in some time to create a unit test. Got it to work now with several workarounds, was just a second ago from ditching the plugin and going back custom implementation.

[2015-11-24 12:33] burzum commented on #114
OK, I've got permission to fix it at work. Will look at this.

[2015-11-24 12:41] burzum commented on #114
@GuidoHendriks are you sure this is not a permission problem or something? Paste the _whole_ stack trace of the error you're getting. You should _always_ do this any way when reporting an issue. ;)

What did you do, these "workarounds" to make it work?

The cause comes in your opinion comes from [this adapters afterDelete()](https://github.com/burzum/cakephp-file-storage/blob/1.0/src/Event/LocalFi

[2015-11-24 12:49] GuidoHendriks commented on #114
It's triggered by this:
https://github.com/burzum/cakephp-file-storage/blob/1.0/src/Model/Table/FileStorageTable.php#L165

[2015-11-24 13:04] burzum commented on #114
@GuidoHendriks could you please try the above fix? Checkout the branch or patch yours with it.

[2015-11-24 13:08] burzum commented on #114
Crap, forgot a return... wait.

[2015-11-24 13:13] burzum commented on #114
@GuidoHendriks OK try it now. PR is up as well https://github.com/burzum/cakephp-file-storage/pull/115

[2015-11-24 14:01] GuidoHendriks commented on #114
Will do in a minute. :+1:

[2015-11-24 14:47] GuidoHendriks commented on #114
Nope, not yet fixed. Error is gone, but now it doesn't delete the old file. Will try to figure out why.

[2015-11-24 15:00] GuidoHendriks commented on #114
Apparently the storage path (first adapter option) must end with a `DS`. After I changed that, the fixed solved the problem. :+1:

Maybe it should be enforced if it's a requirement? Always better than silently failing... That's the most annoying problem with this library while using it, a lot of trail&error and digging into code because it fails silently...

[2015-11-24 15:32] choma commented on #113
Hi @burzum, thanks for the reply, and for the excellent plugin! and sorry for the late answer.

I was using version 1.0.2, with cake 3.1.4. But I took your advice and upgrade to 1.1.0-RC1. Anyway the problem persist, so I can confirm I have a misconfiguration, or a bad understanding of how this should work.
My code look like this:

ProductsTable.php, baked, I only added:

[code]

ProductImagesTabl

[2015-11-24 16:00] burzum commented on #114
I'll look into how I can fix this in any place. The problem is, it is the Gaufrette adapter that I would have to change which is not under my control. I somehow need to ensure that the path always ends with `DS`. Doing the check in all the places where it is used is not a nice solution and when people implement their own listeners they have to be aware of it as well.

I'm surprised you're the fist

[2015-11-24 16:11] burzum commented on #113
Thanks for the detailed feedback. You have two options and I'll add a third one in the 1.1.0 branch.

1) Create an event that is listening to `ImageVersion.getVersions`(1.1.0) and / or  `FileStorage.ImageHelper.imagePath` (1.0.x) and returns path as you need it. You can extend and override the listener that comes with the plugin for that purpose. [See this method](https://github.com/burzum/cakephp

[2015-11-24 16:20] burzum commented on #114
@GuidoHendriks if you add these three lines:

[code]

after this one in LocalFileStorageListener::afterDelete()

[code]

does that fix your issue?

**Update:** Looks like Gaufrette deals with that internally. There must be something in the plugin that is depending on it besides the above code. For me it never goes into the condition, the `DS` is there when reading it from Gaufrettes adapter.

[2015-11-24 16:22] choma commented on #113
Hmmm... I've been using HtmlHelper to add my path prefix, I mean I wasn't using the ImageHelper. But I like the second option you mentioned, I think I'll be using it.

Thanks for taking the time to explain all this!
Greetings!

[2015-11-24 16:22] #113 closed, assigned to nobody

[2015-11-24 16:55] burzum commented on #113
Well, in the case you never change the path you can use the HtmlHelper and use the path from the path field of the entity directly. But this is not how it is thought to be used and work. You're not using the abstraction then. You'll rely on that path always being correct as it is in the path field.

But the path is in reality a composition based on the information of the whole entity record. I rec

[2015-11-25 07:05] GuidoHendriks commented on #114
Did you try that in the fix branch? It won't hit that code in ~~master~~ 1.0.2.

If applied to the fix branch, it solves the problem. :+1:

**edit:** Is there some place we can chat? Have some questions on stuff that might improve the library, but might be something I'm doing wrong as well (in which case the documentation could be improved probably).

[2015-11-25 08:28] burzum commented on #114
I haven't applied the fix to the 1.x branch because I've been waiting on your feedback. I'll merge it today and tag 1.0.3.

You can contact me on Skype or via the contact form on florian-kraemer.net.

Feature requests should be discussed here on Github IMHO, because there might be other people who would like to add their input on them as well.

I would be more happy when people contribute to the d

[2015-11-26 08:57] Adnan0703 opened #116 "ImageHelper::display"
How do you show the original image? `Image->display($image, null);`throws exception `Image processing configuration in "FileStorage.imageSizes" is missing!`

[2015-11-26 10:08] burzum commented on #114
@GuidoHendriks I've merged the PR and tagged 1.0.3. composer update should grab it now. Please check my previous comment, I would like to know what you want to improve.

[2015-11-26 10:09] #114 closed, assigned to burzum

[2015-11-26 10:16] burzum commented on #116
Version of the plugin you're using and stack trace please. **Always** report this!

[2015-11-26 15:55] Adnan0703 commented on #116
plugin version `1.1.x-dev`.

[code]

I'm passing `null for version` ([link](https://github.com/burzum/cakephp-file-storage/blob/1.1.0/src/View/Helper/ImageHelper.php#L35)) and I'm not creating image versions. It seems to me a bug.

[2015-11-27 18:49] burzum commented on #116
The helper works even without image versions but you need to define at least the array without versions. That's why the error comes up. It doesn't make much sense to use the image helper if you don't use versions any way.

There are several ways of building the path. If you're using 1.1.x use a path builder or the event listener. Which storage listener are you using?

If it is the old legacy liste

[2015-11-28 08:24] Adnan0703 commented on #116
I'm now trying `1.1.0.x-dev` branch and I'm using new listener `Burzum\FileStorage\Storage\Listener\LocalListener`. It's the right branch I should use?

How?
The following code doesn't solve it. Now it throws exception `Version "Results" for identifier "" does not exist!`.

[code]

I know `ImageStorage` has `url method`. I'm just trying `ImageHelper`. It used to work in `file-storage for cakephp 2

[2015-11-28 17:54] burzum commented on #116
OK; I fixed the wrong named error message. The args passed to sprintf() where in the wrong order.

It's a regression I'll have to fix then. You'll have to wait until I find time for this. Or fix it yourself and do a PR. However, if there is no version needed, there should be no image helper needed at all. I've had a pretty intensive tournament today (4th place) and my both hands are swollen, so I'

[2015-11-30 03:21] Adnan0703 commented on #116
I'm sorry I won't be able to do a PR. Is it martial arts tournament?

[2015-11-30 22:28] burzum commented on #116
Yes, I'm teaching and practising [HEMA](https://en.wikipedia.org/wiki/Historical_European_martial_arts) (Historical European Martial Arts) and do Wing Chun as well. It was a long sword tournament and I obviously need better gloves. ;)

I'll see when I find time to look at the regression this week. Hope you're not in a hurry. If you are use one of the provided ways I've mentioned in the previous co

[2015-11-30 22:46] burzum commented on #116
@Adnan0703 run the tests on your local machine. I can't reproduce your reported behaviour. I've added an unit test for this and it passes for me:

[code]

I'll remove the works for me if you can provide a way of reproducing (unit test please!) the issue in a reliable way. Guess you're using a wrong branch, old commit id or passing invalid args to some function.

[2015-12-01 10:42] Adnan0703 commented on #116
@burzum It's working in tests because old listener is getting called in tests. `ImageProcessingListener` is getting called. Maybe this code is the reason:
[link](https://github.com/burzum/cakephp-file-storage/blob/1.1.0/src/TestSuite/FileStorageTestCase.php#L91)

[code]

Also new listener will complain if you pass `array`.

[2015-12-09 22:16] burzum commented on #116
Would you mind showing me the trace of this "complaint"?

[2015-12-09 23:23] burzum commented on #116
@Adnan0703 why are you not passing an entity? Your results from the DB should be an entity. Well, at least this has shown that I need to update some tests.

As far as I can tell, because you _don't show your code_, this comes from the helpers imageUrl() method, then goes to LocalListener::imagePath() and then fails for imageVersionPath() expecting an entity. By looking at the code you should pass

[2015-12-10 06:30] Adnan0703 commented on #116
@burzum  I was talking about [this](https://github.com/burzum/cakephp-file-storage/blob/1.1.0/tests/TestCase/View/Helper/ImageHelperTest.php#L59) test. In my last post I showed why you couldn't reproduce the  reported behaviour. I wanted to say that the following test will fail with new listener because **you**'re passing an array. It doesn't fail because old listener is handling this. I saw using

[2015-12-10 10:43] burzum commented on #116
The test didn't fail because it was not using the new listener. Also different listeners, with different path building configs, will produce different paths. The updated test reflects that.

I'm aware of `_setupListeners`. It does not attach it on purpose, there is also `_removeListeners` so that they can be switched easy in tests. See the updated HelperTest.

I'm mostly interested in getting the

[2015-12-11 05:34] Adnan0703 commented on #116
@burzum  I'm implementing a new app and using `LocalListener`. It now works for me. `Image->display($image, null);` returns image tag as expected.

[2015-12-11 08:10] #116 closed, assigned to burzum

[2015-12-15 13:55] kinglouie commented on #56
:+1:

[2015-12-20 19:35] dlynnsmith opened #118 "File not saving to local file system"
I am trying to implement the plugin for the first time.  I'm also pretty new to CakePHP in general.  I was able to get a file saved to the local file system by basing my model on the the ImageStorageTable.  But that was cheating: I really need plain txt files, and had to literally override the plugin's UploadValidatorBehavior in order to allow a .txt extension -- not good.

I changed to using the

[2015-12-20 23:56] burzum commented on #118
Which version of the plugin are you using? Version and commit id please.

Also make sure that your root folder ends with a DS! This is mentioned in the documentation as well.

[code]

[2015-12-21 14:56] dlynnsmith commented on #118
I'm not sure where to look for that information.  I did the install last week, using the documented instructions for Composer ("composer require burzum/file-storage:~1.0").  I've looked thru the files in the Vendor folder for the plugin.  I don't see anything that explicitly says the version and commit ID.  Where should I look?

I had done my root folder based on the documentation at https://githu

[2015-12-21 15:44] burzum commented on #118
That means you're using version **1.0.0** and the instructions you are using based on your link are for **1.1.0**.

Update your version to 1.1 or use the documentation of the old version. But I recommend to use 1.1.0 for a lot of reasons. And make sure you have the trailing DS for the local adapter options added.

I recommend you to spend some time [reading about composer](https://getcomposer.org/

[2015-12-21 16:05] dlynnsmith commented on #118
I changed Composer.json and the update replaced 1.0.3 with 1.1.0.  My updated config is below; screenshot of the file structure is attached.  I closed the browser to be sure nothing was stuck in cache before re-running the application.

Still nothing in the DataDS folder, and null in the Path field of the file_storage record.

StorageManager::config('Local', [
    'adapterOptions' => [ROOT . DS .

[2015-12-21 16:20] burzum commented on #118
Your folder in the screenshot is named `DataDS` which is wrong. `DS` is a constant used by CakePHP as a shortcut for phps own `DIRECTORY_SEPARATOR` constant.

If you get not error at all check if you've got something in your `logs` folder. I don't know what you're doing. Check permissions as well of the folder when you corrected the name. The folder has to be writeable by the webservers system use

[2015-12-21 16:27] dlynnsmith commented on #118
I'll check on those ideas, and also on the training link.  Thanks!

[2015-12-21 16:27] #118 closed, assigned to nobody

[2015-12-21 21:29] burzum commented on #118
Did you get it fixed? If yes what was it? I don't mind improving the documentation if there was something unclear.

[2015-12-22 12:37] dlynnsmith commented on #118
Not yet.  I was pulled away on another task yesterday and didn't get to
spend much time on this one.  I did open the permissions up completely to
see if that helped.  No change.  :(

I know it must be something simple that I've overlooked.  It always
is....after we find it!  :-)

On Mon, Dec 21, 2015 at 4:30 PM, Florian Krämer notifications@github.com
wrote:

##

_Diedra Smith_
- Programmer II*
-

[2015-12-22 14:23] dlynnsmith commented on #118
As a suggestion for the documentation, I'm working from the Quick Start guide.  That is oriented toward images and the AwsS3 adapter.  I'm trying to translate to a text file and the Local adapter.  I'm probably missing something there, especially if it's not one-to-one for all of the parameters.

[2015-12-22 14:54] dlynnsmith commented on #118
Hmmm...  I just did a test where I changed my model to extend ImageStorage instead of FileStorage.  I also commented out my configureUploadValidation and just uploaded a .png file for the test.  The file was written correctly.  That was the ONLY change I made.

Apparently there is indeed something I need to set differently when extending FileStorage.  (Or it's my configureUploadValidation - below

[2016-01-17 22:05] burzum commented on #56
Would anyone mind testing the 1.2 branch? Mostly with the Flysystem adapters?

I don't have a need for it because I think Gaufrette works just fine.

[2016-01-28 21:57] burzum commented on #56
Skipped due the lack of time to implement a feature that is mostly opinionated about the underlying library Gaufrette vs Flysystem. Actually both work just fine. I have no personal urgent need, nor does my company to switch to another lib,.

The basic support for Flysystem is already implemented in this repository https://github.com/burzum/storage-factory. If somebody - not me - wants to finish an

[2016-01-28 21:57] #56 closed

[2016-01-31 23:24] burzum commented on #80
@robertpustulka do you have any plans or time to return to the project?

If yes, when? :)

If no, you said you have ideas that you would like to see implemented. Would you mind sharing these ideas with me? I would like to start working on 2.x.

[2016-02-21 03:59] choma opened #122 ""First arg must be a non empty string!" exception when deleting on cascade"
I'm having a "First arg must be a non empty string!" exception when trying to delete a post and its associated image on cascade.

I'm using cakephp v3.2.1, with cakephp-file-storage v1.1.4 and cakephp-imagine-plugin v2.1.1

As I understand the problem is [here](https://github.com/burzum/cakephp-file-storage/blob/1.1/src/Storage/Listener/AbstractListener.php#L390). It is trying to read `$event->res

[2016-02-23 00:06] choma commented on #122
Sorry, I was wrong when I tried to guess where the problem was.
I'm not sure of being right again, that's the reason I don't PR, but this change worked for me. I changed [this](https://github.com/burzum/cakephp-file-storage/blob/9bece866838923725d966e97637f11d001476179/src/Storage/Listener/AbstractListener.php#L386) in AbstractListener:

[code]

with this:

[code]

And now it works for me.

[2016-02-25 18:42] burzum commented on #122
Hey, sorry for the delay but I'm _very_ busy this week with work and private stuff. I'll review this in detail when I have the time. I understand the problem and see the fix but I need to review it more deeply and see if this doesn't have any side effects.

[2016-02-25 20:17] choma commented on #122
I'm not sure if it is related to this bug, but I've noted that even when the files are deleted correctly, the container folders are not. So I end up with a lot of empty nested folders. Is this the way it is supposed to work?

[2016-02-25 20:27] burzum commented on #122
I'm aware of that but never gave it a priority because it doesn't hurt.

The problem is you need to know if the file resides alone on this folder or not to delete the folder without accidentally deleting other files. The default config is that it should use one folder at the end of the nested path for each file which is using the uuid as name. But if you configure it different you can end up with

[2016-02-28 23:31] burzum commented on #122
@choma please try 1.1-dev I've fixed the code in the 1.1 branch.

[2016-02-28 23:32] #122 closed, assigned to burzum

[2016-02-29 00:17] choma commented on #122
Nope!
It didn't fixed the issue for me. You still need to change the [390 line](https://github.com/burzum/cakephp-file-storage/blob/1.1/src/Storage/Listener/AbstractListener.php#L390), by this:

[code]

There is where the bug is in fact, sorry if wasn't clear in my previous comments.
I just changed the previous line because I thought it would create other problems.

[2016-02-29 08:31] burzum commented on #122
No problem, I've made the change.

Any reason you didn't do the change yourself and created a pull request?

[2016-02-29 12:05] choma commented on #122
I'm sorry I didn't. I'm still trying to understand the code, I'm not sure how the change will affect the rest of it. And I never learned to do php tests, so I'm not sure how to handle them.
But hopefully, with some more time using the plugin I'll be able to give you a hand :)

Thanks for the great plugin!

[2016-02-29 12:07] burzum commented on #122
Welcome, I'm glad you like it. Let me know if you need something else.

I can't admit that the plugin isn't the most easy one to use but I think it is the most powerful on with the best architecture. And I keep improving it. 2.0 will drop a lot of legacy code and make things more easy. I'm not happy with the image processing right now, it's still to tight coupled and interwoven with the storage re

[2016-02-29 15:10] choma opened #125 "Problem when updating related data"
I'm not sure if it is a bug, or I'm using the plugin in the wrong way.
I have a PostsTable with:

[code]

a baked PostsController, so the edit action is as follows:

[code]

and the form is:

[code]

The problem is that `patchEntity()` is "mixing" the old and new `post_document` data (hasOne association), so it results in the plugin trying to delete the new file (which isn't uploaded yet).
The `po

[2016-02-29 15:55] burzum commented on #125
No, not by default, because it gets called in the `afterFind()` [callback](https://github.com/burzum/cakephp-file-storage/blob/1.1/src%2FModel%2FTable%2FFileStorageTable.php#L154). Looks like something I'll have to change in 2.0 as well in the future and make it optional and more flexible.

You can extend the class and call the deleteOldFileOnSave() method in `beforeSave()` as well. I think this s

[2016-02-29 18:59] choma commented on #125
Thanks for the quick answer!
The method `deleteOldFileOnSave()` deletes the entity from the database, so calling it in the table `beforeSave()` callback won't work.
I'll try to find another solution, but maybe I'll have to do it in a less "automagic" way :-/

[2016-02-29 20:51] burzum commented on #125
That's the whole idea, you _delete_ the old file, you don't _update_ it. To replace a "file" that is associated you delete it and point the association to the new files id.

[2016-02-29 21:09] choma commented on #125
Yes, I understood how this is done internally in the plugin. I just wanted to make the replacement transparent to the controllers, let them work as if they where editing.
Now I know this isn't possible, so I'm closing this issue.

Thanks again for all the work!!

[2016-02-29 21:12] burzum commented on #125
UI wise the user should not see any difference, that's just a frontend thing. You can even allow them to rename the file but you need to copy the filename before it saved the user has chosen over the filename of the file array. I don't know what exactly you're doing or tr to do.

[2016-02-29 21:24] choma commented on #125
I know, it is not about the UI nor the user, but about me (or any developer using the plugin). I wanted to use file fields as any other field. I mean, if the field is modified the changes get merged in the same entity (through `patchEntity()`).
It was all about working less, write less code, but I ended up doing lots of tests, so I better use the plugin as I should.

[2016-02-29 21:25] burzum commented on #125
You need to provide a full code example and a detailed description of what you try to archive. I'm sorry but I still don't get your problem.

[2016-03-01 02:30] choma commented on #125
I'm sorry, my english is worst than my programming skills.
Here is a full example:
I'm using cakephp v3.2.3 with file-storage v1.1.x-dev (reference: 42b5e62829c124d76c5580e30e72c7078b0d880f)

My config/file_storage.php:

[code]

I have PostsTable with:

[code]

The PostsController edit action:

[code]

And the correspondent edit.ctp:

[code]

This will work for PostVideo (it will be updated), but

[2016-03-01 08:21] burzum commented on #125
Like I said before you **can't update** the file, but this is exactly what happens with this code! What happens with your code is that it deletes and then tries to store the file because the id is the same because it's updating. Unset `post_document.id` before saving (or whatever else the PK is) and it should work as expected.

The old_file_id will delete the whole old record and save a new record

[2016-03-01 20:03] jbeales opened #126 "Mime-Type Content Length?"
I've been debugging an issue, and I don't _think_ it'll cause issues for me, but I noticed that the mime-type  column in the DB [is set to 32 chars long](https://github.com/burzum/cakephp-file-storage/blob/1.1/config/Schema/schema.php#L50). Some mime-types, most noticeably MS Office files, are longer than that. Are there plans to store the whole mime-type string, or have you found it doesn't matte

[2016-03-02 08:38] burzum commented on #126
Well it matters for sure. Thank's for pointing me at this issue. I'll fix it today.

[2016-03-02 08:50] burzum commented on #126
Fixed, please double check it if you don't mind.

[2016-03-02 08:50] #126 closed, assigned to nobody

[2016-03-02 20:18] jbeales commented on #126
Great - that looks right - and that was super-fast! Unfortunately I can't check it in production because I'm stuck on an ancient version that someone has "customized."  Hopefully I can get to a clean and current version of the plugin, and the app, soon.

[2016-03-31 13:27] ypnos-web opened #129 "Inconsistencies in Quick Start"
In [Quick Start](https://github.com/burzum/cakephp-file-storage/blob/59013a57099cd114eb84189544c1c33fd6ef66dc/docs/Tutorials/Quick-Start.md#theoretical-model-setup), after setting up the `Products` table to contain both Images and Documents, you go on to implement a `ProductImages` table. It includes a method to upload documents, something that is not expected to be done by this table.

In the con

[2016-04-19 21:29] burzum commented on #129
@ypnos-web  Would you mind to do a PR that fixes the quick start?

Sorry for the long time to reply on this, looks I've totally missed that issue in my notifications for some reason. Next time you have to wait so long ping me on IRC.

[2016-04-20 12:44] ypnos-web commented on #129
I thought you talked about revamping it in a bigger sense? I'm afraid I am currently busy with other things.

No worries about the wait, our correspondance on IRC was already helpful enough from my side.

[2016-04-29 17:09] puneetv05 opened #130 "Request"
I didn't find any documentation or Quickstart that talks about FTP/SFTP.

[2016-05-02 12:18] burzum commented on #130
As the documentation says, look at the Gaufrette configuration and configur your adapter instance as needed. See https://github.com/KnpLabs/Gaufrette/tree/master/doc/adapters

If you get it to work it would be nice if you could do a pull request and add the instructions to the plugin as well.

[2016-05-02 12:18] #130 closed, assigned to nobody

[2016-05-19 17:10] maxmasetti commented on #125
Hi,
(I'm using cakephp/cakephp: ~3.2 and burzum/file-storage: 1.1.*)
I found a simple solution to the problem of replacing an image (TutorImage in the code below) attached to a model (Tutor): since the image is created only when the related instance doesn't exist but can't be updated, if the file input is filled up I don't 'contain' the image: the new image is created and added to the model while

[2016-05-26 19:18] burzum commented on #125
@maxmasetti could you please come up with an unit test for that scenario? I'm really short on time and I would prefer a branch I can review with an unit test that demonstrates the issue than having to re-assemble the scenario manually - which is to be honestly most of the time no fun and a time eater.

[2016-06-13 09:21] burzum commented on #125
Closing it again because no further feedback was provided.

[2016-06-13 09:21] #125 closed, assigned to nobody

[2016-06-17 06:12] GuidoHendriks opened #132 "Rotate on ImageProcessor is called with wrong parameters"
In the `ImageProcessingListener` the method `rotate` is called on the `ImageProcessor` from the `burzum/cake-imagine-plugin`. In this call the image is passed while it shouldn't.

Method call: https://github.com/burzum/cakephp-file-storage/blob/1.1/src/Event/ImageProcessingListener.php#L100

Method definition: https://github.com/burzum/cakephp-imagine-plugin/blob/c88eaa490dcc60df0914536dbb5da32f78

[2016-06-20 22:48] burzum commented on #132
Thanks for reporting and fixing that :) Closing it because the PR is merged.

[2016-06-20 22:48] #132 closed, assigned to nobody

[2016-07-14 08:07] ghost opened #134 "Sia Decentralized Backup"
I'd ike to use a decentralized backup system such as Sia ( http://sia.tech ) - any chance it can be added?

These are the API docs:

https://github.com/NebulousLabs/Sia/tree/master/doc

[2016-07-18 22:00] burzum commented on #134
This plugin is using the [Gaufrette](https://github.com/KnpLabs/Gaufrette) lib to connect to storage backends. They don't have an adapter for that, check this folder https://github.com/KnpLabs/Gaufrette/tree/master/src/Gaufrette/Adapter

So you can add the feature request to the Gaufrette project, implement it yourself as an adapter, it's not that hard, or hire _somebody_ to do it. :)

[2016-08-18 00:07] #134 closed, assigned to nobody

[2016-10-03 18:16] burzum commented on #129
I'm closing this in favour of rewriting the whole documentation in the 2.x branch.

[2016-10-03 18:16] #129 closed, assigned to nobody

[2016-11-11 21:14] Perzonallica opened #136 "FileField problem"
Hello, I don't know if this is a bug, or my mistake, but I have problem with input names.

CakePHP v.: 3.3.8
FileStorage version:
`"burzum/file-storage": "1.1.*"`

file_storage.php:
[code]

UsersTable.php:
[code]

UserImagesTable.php
[code]

UsersController.php
[code]

profile_edit.ctp:
[code]

After upload I get this warning:
`Warning (2): file_get_contents(): Filename cannot be empty [ROOT/vendo

[2016-12-01 22:39] spacebiscuit opened #137 "Unknown Method uploadImage"
Sorry this doesn't work, I've followed your quick start, in my case Listings hasMany ListingImages.

in my ListingsController:

`if ($this->Listings->ListingImages->uploadImage($listing)) {`

Gives error: "Unknown method "uploadImage""

The method uploadImage is of course in the ListingImagesTable.php

[2016-12-02 10:30] burzum commented on #137
If it would be there the parser wouldn't throw the error. :) You need to figure out why it's not there. My guess is that `$this->Listings->ListingImages` is not an instance of the object you expect. It's probably just `Table` instead of `ListingImagesTable`.

I agree that the documentation has aged but I don't have the time and mood to update it. I'm not getting paid for it, so it's really not a p

[2016-12-02 10:30] burzum commented on #136
Did you already fix this or is it still a problem?

This seems to be a problem with your implementation not the plugin itself. I'm doing what you do in production on a large site without problems. I don't mind fixing it ASAP if you can provide proof that the problem is caused by the plugin itself.

[2016-12-05 10:05] Perzonallica commented on #136
Well, it is still a problem for me. I will try to implement it again from scratch, but I really have no idea where the problem could be.

[2016-12-05 11:47] burzum commented on #136
Could you provide me either an unit tests via pull request that shows the problem or get me a simple to test example somehow? Sorry, but I don't have the time to re-create your whole scenario and debug your code just on a guess that it *might* be caused by the plugin internals and not your code.

Also you don't have to use an upload method. If your data is set up correct you can just do a User->sa

[2016-12-11 12:48] burzum opened #138 "Need testers for the 2.0 branch"
I'm interested in getting some feedback on the 2.0 branch from users of the 1.x version.

I need to ensure that it's backward compatible for files stored with 1.x and that the image shell still works and that the *new* tutorials are correct.

Please respond to this ticket if you're interested in helping me.

Just checkout the 2.0 branch and check the tutorials and try the plugin and provide feedba

[2016-12-11 13:30] choma commented on #138
I don't have much time to dedicate to this this month, but I'm interested in helping

[2016-12-11 15:45] burzum commented on #138
Thank you @choma just check the branch out and provide me feedback of what works, what not works and what you think that could be done better API wise.

[2016-12-12 10:55] maxmasetti opened #139 "won't pass model name"
hi,
may be something is changed (I'm using v.1.1.16), but now while loading a picture the name of the model is no more added to the entity and the file is saved as a generic file_storage model. The code that worked for me was setting the model using an event catch in the ImagesTable:
[code]
while Images are bind to the main table with this has-one relationship:
[code]
Have you some suggestion to f

[2016-12-12 11:11] maxmasetti commented on #139
(update)
the first piece of code I reported has no sense...
I re-added the line
[code]
in the edit.ctp and now it works. What I don't understand is why it worked before.
thx

[2016-12-13 16:47] burzum commented on #139
Does it work with a previous version? How do you save the image file?

[2016-12-13 16:48] burzum commented on #137
@spacebiscuit any feedback on this? I'll close it in a few days if there is no more feedback.

[2016-12-14 00:18] burzum commented on #136
@Perzonallica any feedback on this? Any news?

[2016-12-14 09:52] Perzonallica commented on #136
I didn't find out what could be the problem. Pls close this.

[2016-12-14 09:54] burzum commented on #136
Like I said, I have no time for personal support, so either get me an easy to reproduce scenario or even better an unit test that demonstrates the problem. It's working fine in my latest application. We use it for lots of file uploads.

All you have to do is to save the file through the configured association. Make sure the file, model and foreign_key are there and getting saved and that your asso

[2016-12-14 16:44] Perzonallica commented on #136
I absolutely understand your situation and I would never want from you to solve my mistake somewhere in my code jungle. :) Really appreciate your code snippets above. I think the problem will be somewhere in the model associations, because the saving works, the file is uploaded, the data is saved into the table, etc. Problem starts when I want to replace the files and when I add the "user_image.ol

[2016-12-19 12:37] spacebiscuit commented on #137
@burzum - apologies please close this issue. I made a fork of another implementation and manged to achieved what I needed to do which was to enable uploading of multiple files on a single field.

[2016-12-19 12:55] #137 closed, assigned to nobody

[2016-12-19 12:57] burzum commented on #137
Would you mind explaining the problem? The plugin supports everything I ever needed, including uploading multiple files with jquery upload and plupload.

[2016-12-26 12:54] spacebiscuit commented on #137
I was unable to upload multiple files on a single field in compliance with html5. Possibly I mis-understood something with your implementation though. I forked another upload plugin which enables me to achieve this without the use of jquery or any other libraries.

[2017-01-06 00:00] burzum commented on #137
Can you show me the data that is send to the cake app? I would like to know what exactly is not working there.

I assume you've got this http://stackoverflow.com/questions/3215324/html-5-multi-file-upload-with-php Actually the plugin comes with a method to turn that awkward array structure that is the default by php into a normalized array.

Please see https://github.com/burzum/cakephp-file-storag

[2017-01-06 00:03] burzum commented on #139
Closing this due a lack of useful feedback that would enable me to reproduce the issue.

I'll reopen it in the case there is something provided I can work with.

[2017-01-06 00:03] #139 closed, assigned to burzum

[2017-01-11 15:12] Askpte opened #140 "Configure pathfile"
Hello, I installed your amazing plugin but i can't figure how to change the file storage location.

Any help will be welcome

Thank you

[2017-01-12 09:24] burzum commented on #140
It depends on the adapter your're using.

I assume you mean the local adapters root folder. See https://github.com/burzum/cakephp-file-storage/blob/1.1/docs/Documentation/Specific-Adapter-Configurations.md#local-filesystem

[2017-01-12 13:55] Askpte commented on #140
I do exactly this : https://github.com/burzum/cakephp-file-storage/blob/1.1/docs/Tutorials/Quick-Start.md#products-controller

But my "path" is empty and i can't get the file...
Any issue about that ?

[2017-01-12 13:57] burzum commented on #140
No idea without knowing your code nor being able to debug your code.

I *guess* that it's not saving the file or generating the path.

All you need to do is saving the file in the file field of associated file storage model and pass the adapter and foreign key and model as needed. It should store the file then.

Another possibility might be wrong setup event listeners.

Check if the listener you'r

[2017-01-12 14:37] Askpte commented on #140
I fixe my problem, it was came from my javascript..

Second question :

my "path" is always starting with random number like "92\71\16" etc...
I think it was because my buildPath function in AbstractStorageEventListener point on  'randomPath'.

How can i change that ?

Thank you again.

[2017-01-12 14:38] burzum commented on #140
See https://github.com/burzum/cakephp-file-storage/blob/1.1/docs/Documentation/Path-Builders.md

Configure an existing one (see its config options) or write your own path builder.

[2017-01-12 17:01] Askpte commented on #140
And how my path in my file_storage table could be my 'adapterOptions' field ?

I find the buildPath function in LocalFileStorageListener and i want to return my adapterOption insted of `"return 'files' . DS . $path;"`

Thank you again

[2017-01-12 19:52] burzum commented on #140
Please spend some time reading the documentation or looking at the code. The question you ask tells me that you have no idea what you're doing nor how to use or customise the path builder.

If you want personal support you can hire me for a hourly rate and you get consulting via Skype, Teamviewer or whatever you like and I'll explain it in detail - if I have the time for this. I'm sorry but I don'

[2017-01-12 19:52] #140 closed, assigned to burzum

[2017-01-13 00:10] #138 closed, assigned to nobody

[2017-01-13 09:03] Askpte commented on #140
I solved my issue in the night by reading your doc, sorry about that :)

Thank you again for your help !

[2017-01-26 18:56] temp1029 opened #141 "Enhancement Interest"
Just wondering if there would be any interest in adding presignedURLs to the S3PathBuilder?

https://docs.aws.amazon.com/aws-sdk-php/v3/guide/service/s3-presigned-url.html

I'd be willing to do it, since I'm going to need it for a project I'm working on now, but wanted to see if there is any interest in more specific functionality of different adapters at all.

I'm open to other methods of doing t

[2017-01-29 21:41] burzum commented on #141
@temp1029 thanks for your interest. :) Your help is welcome. I think adding a S3 helper would do the job? The helper could read a storage adapter config to get the credentials from and use the S3 lib to build it like on the page you've linked.

By the way, did you checkout the 2.0 branch?

[2017-02-02 00:43] temp1029 commented on #141
I hadn't thought of making a helper but that's a great idea.

Since I'm using your image plugin too I hooked into that call by extendeding the S3 path builder.  I also needed access to the presignedURL in my controller (for passing down in a JSON response to an AJAX request).

I'd like to see about modifying the S3 path builder to handle the special features of S3.  I'd probably also need to add s

[2017-02-09 17:17] burzum commented on #141
You can do the S3 URL building as  trait as well and let the user decide where he wants to generate the URL. Could be a virtual entity property as well then. You get your URL in the JSON response "for free" then. :)

[2017-02-16 21:46] burzum commented on #141
@temp1029 can I close this or do you still want to do the helper?

[2017-02-16 21:49] temp1029 commented on #141
I'll do it but no need to keep it open.  I'll make a PR when I have
something ready.

On Thu, Feb 16, 2017 at 16:46 Florian Krämer <notifications@github.com>
wrote:

[2017-02-16 21:51] burzum commented on #141
OK, cool, thank you! :)

[2017-02-16 21:51] #141 closed, assigned to nobody

[2017-02-25 16:39] dyske opened #142 "Image rotation problem"
Hi Florian,

Firstly, thank you for all the hard work. I appreciate it.

I noticed that whenever I upload a photo from iPhone, the orientation is wrong. A vertical photo would be processed as a horizontal one. I dug into your code and discovered that auto-rotation feature exists in your code but it's not being called.

Then I discovered that, in order for that feature to be called, I need to set t

[2017-02-25 20:31] dyske commented on #142
I figured out where this went wrong. See [this commit](https://github.com/burzum/cakephp-file-storage/pull/133/files). @GuidoHendriks made a mistake in fixing the problem. He should have removed `$image` from Line 100; instead, he removed `$imageFile` from Line 101, thus ending up with two bugs, one he was trying to fix is still there and he created another bug by modifying the wrong line.

[2017-02-25 20:40] GuidoHendriks commented on #142
That's embarrassing, I'm sorry! 🙈

[2017-02-27 15:54] burzum commented on #142
@dyske thanks for fixing this! Auto rotation is by default disabled because I don't know if people want to get their images changes automatically. I'm not sure if there is quality loss, in theory there should be none for just rotating them.

@GuidoHendriks ship happens. :) Don't worry. However, looks like this needs a test case.

[2017-02-27 23:54] burzum commented on #142
I'm closing this now, feel free to reopen it or another new issue if the problem persists or other issues come up. Thanks again.

[2017-02-27 23:54] #142 closed, assigned to nobody

[2017-03-05 23:57] #136 closed, assigned to nobody

[2017-03-07 18:23] alpening opened #144 "Wrong variable declaration in AbstractListener?"
Hi Florian,

I followed your quick start guide and having some problems saving an uploaded image/file. I always get the InvalidArgumentException "First arg must be a non empty string!".

After having a deep look inside the CakePHP error message and debug output I found the following problem:

In src/Storage/Listener/AbstractListener.php is defined like this `$entity = $event->data['entity'];` (Lin

[2017-03-08 08:36] alpening commented on #144
A small update: installing version 1.2 solves this problems.

[2017-03-10 14:01] burzum commented on #144
@alpening I'll be out over the weekend so I'll backport this fix to 1.1 next week, probably Tuesday if I can, I'll have a busy week. Which minor release did you use of 1.1? Was it 1.1.6?

I guess I introduced the problem when mixing stuff in my mind between 1.x and the 2.0 branch. :( Sorry.

[2017-03-15 13:48] dyske opened #146 "autoRotate by default?"
Hi Florian,

This isn't so much an "issue" as a suggestion, but I would encourage you to turn on autoRotate by default. As far as I checked, all vertical photos shot on iPhones will upload sideways if autoRotate is not turned on. And, I'm pretty sure that iPhone is not the only camera with this problem. Camera sensors are mounted horizontally by default, so if it were to save the photos with the c

[2017-03-20 11:14] burzum commented on #146
I've intentionally not made by default enabled because it's yet another processing step and other people might not want to auto rotate them. Also I'm not sure if rotation works without losing quality. Technically it just have to re-arrange the pixels, so in theory there should be no quality loss but I'm not sure about it. At least the windows standard image viewer degrades the images when rotating

[2017-03-20 15:34] dyske commented on #146
It's not necessary to auto-rotate the originals because they have the orientation data in EXIF. The problem is when you scale them. The EXIF data get stripped so the vertical photos are saved horizontally. If you were to rotate the photo and then _immediately_ scale it without saving, then you would not lose any quality. Compression is applied only when you save.

I think that would be the ideal w

[2017-03-20 15:43] dyske commented on #146
Oh, actually, the best place is installation.md where you already explain how to set up the listener for image processing.

[2017-03-20 23:12] #146 closed, assigned to burzum

[2017-04-02 20:33] maxmasetti opened #148 "On delete, file isn't deleted"
hi,
I get the record correctly deleted, also when le image is replaced, but on deleting of main record, say Account, the Image record is deleted but the file isn't. Also neither beforeDelete nor afterDelete are triggered on ImagesTable (that extends MyImageStorageTable that extends ImageStorageTable).
Any idea?
thx
max

[2017-04-02 22:45] maxmasetti commented on #148
I digged a little and I found a pretty thing: any operation on file storage generate some event that I captured and logged with this piece of code in the AppController
[code]
and the log looks like this:
[code]
The last line corresponds to the operation of replacing an image setting the proper old_file_id.
But deleting the object with the hasOne Image doesn't generate any event: nothing before nor

[2017-04-03 22:54] maxmasetti commented on #148
and after a neverending debug session I found the mistery: set the cascadeCallbacks to true in the association in the table.
YOP!
now it works
-_-"

[2017-04-03 22:54] #148 closed, assigned to nobody

[2017-05-04 04:20] gabrielslau opened #150 "Generate custom image versions per file_storage record instead of per model"
Hi Florian,

**is there a way to configure the image versions to store a hash by each record (image type) in file_storage table instead of the current "per model" fixed configuration?**

I have a situation where I need to crop images with custom coordinates given by the user and overriding the default configuration set in the `config/file_sotrage.php` adding the **cropX** and **cropY** options.

I

[2017-05-16 20:27] burzum commented on #150
@okatsuralau most simple solution would be to add an additional field to the table and use the events like `Model.beforeSave` or `afterSave()` to add additional information.

[2017-05-30 11:02] #150 closed, assigned to burzum

[2017-05-30 11:02] burzum commented on #150
Closing it due to a lack of feedback.

[2017-05-31 12:57] nojimage commented on #99
I am using v1.2.1, this problem has recurrenced.

[2017-05-31 13:15] burzum commented on #99
This is not very helpful. Tell me what listener you're using and if your issue is *exactly* the same. And if yes, why do you think it is the same?

Everything that is in 1.1.x should be in 1.2.x, please see https://github.com/burzum/cakephp-file-storage/compare/1.1?expand=1

[2017-05-31 13:26] nojimage commented on #99
First, S3StorageListener loops `afterSave` event.
https://github.com/burzum/cakephp-file-storage/blob/1.2/src/Event/S3StorageListener.php#L82
(`callbacks` save options is missing in Cake 3.x.

And '/' At the beginning of `combined` path is unnecessary.
https://github.com/burzum/cakephp-file-storage/blob/1.2/src/Event/S3StorageListener.php#L121

thanks.

[2017-06-30 12:32] alpening commented on #144
Excuse me for the very reply.

Yes, the problem occurred with version 1.1.6 (the latest one).

[2017-08-18 14:35] ascaura opened #152 "mime_type column in FileStorage is too small"
The mime_type column in the FileStorage table is defined in https://github.com/burzum/cakephp-file-storage/blob/1.2/config/Schema/schema.php#L50 as a string with length 32. Unfortunately there are mimetypes these days that are longer. For instance docx: "application/vnd.openxmlformats-officedocument.wordprocessingml.document"

[2017-08-30 15:00] julianpollmann opened #154 "StorageShell requires Imagine Plugin"
The StorageShell requires [Imagine Plugin](https://github.com/burzum/cakephp-imagine-plugin) even if used with the store Subcommand. Following Exception is thrown if Imagine Plugin is not installed:

[code]

The StorageShell has the Subcommand image, which uses `$this->Image->getOptionParser()` to get the Option Parser of the ImageTask. ImageTask registers the ImageStorageTable. ImageStorageTable

[2017-09-07 14:32] burzum commented on #152
I'll increase it to 128.

[2017-09-07 14:35] burzum commented on #152
@ascaura well, this has already been fixed two years ago!?

https://github.com/burzum/cakephp-file-storage/blob/1.2/config/Migrations/20160302083933_fixing_mime_type_field.php

What branch / version are you using?

[2017-09-07 14:39] ascaura commented on #152
Sorry. Apparently I missed that second migration :(

[2017-09-07 14:40] burzum commented on #154
Does removing the tasks propery and adding this method fix the issue for you?

[code]

[2017-09-07 14:41] burzum commented on #152
No problem! Any ideas or wishes on how to improve the plugin?

[2017-09-07 14:41] #152 closed, assigned to burzum

[2017-09-07 14:54] ascaura commented on #152
Not at the moment, thanks. It's working well :)

[2017-11-22 18:33] ravage84 commented on #154
Additionally, you need to import the Plugin class:
[code]

Then in ``getOptionParser()`` wrap adding the subcommand:
[code]

[2017-11-22 18:46] ravage84 opened #157 "Extension field too short"
For testing purposes, I tried to store my local ``.editorconfig`` file in the file storage by using the shell:

``bin\cake.bat storage store d:\dev\xampp\htdocs\my_app\.editorconfig --adapter SomeAdapter``

It resulted in an ORM exception:

[code]

It seems the ``extension`` field is only a VARCHAR(5).

It's questionable, though, whether the file ``.editorconfig`` actually has an extension.

[2017-11-22 19:02] ravage84 commented on #144
If I understand @alpening correctly, the problem is solved as of 1.2.x, right?

[2017-11-23 11:06] ravage84 opened #160 "Callable Support for Filename in BasePathBuilder"
BasePathBuilder::_preserveFilename() & BasePathBuilder::_buildFilename() should support callables for prefix and suffix, just like BasePathBuilder::_pathPreAndSuffix() .

[2017-11-24 00:20] burzum commented on #157
Err.... yea.... what do you think? I remember that I had to already extend this in the past and thought this is a regression. There are more files like these, for example almost any dot-file like `.gitignore` as well.

I could add a migration but then another person might complain about wasting terrible expensive bytes! 😆 And yes, I had complaints like this in the past. 😜

[2017-11-24 00:25] burzum commented on #160
Do a PR if you need this. :)

If I'm going to do it, I would do it in the 2.0 branch.

The 1.2 branch is basically just maintenance, I might do a 1.3 for Cake 3.5 compatibility if people request it. Actually I would prefer seeing somebody who needs it on 3.5 doing this. If not I'll wait until we need to upgrade it at work, so I can do it there. :) It's not the most fun task to do in my free time.

[2018-02-22 12:43] burzum commented on #157
@ravage84 can you please give it a try? Are 32 chars enough for you?

[2018-02-22 12:44] burzum commented on #144
Closing this. Please reopen if the problem persists.

[2018-02-22 12:44] #144 closed, assigned to burzum

[2018-02-22 17:24] ravage84 commented on #157
I've discussed this with some of my colleagues.

First of all, what is the actual purpose of this field if you have the mime-type of the file which is far more interesting/accurate?

Anyway, I've tried to find some statements about the maximum length of file name extensions.
As far I found, there is none in most modern operating systems.

But there is a limitation of the length of the full file na

[2018-02-22 17:26] burzum commented on #157
@ravage84 I wouldn't throw an exception but instead just add a validation rule to the field?

Good catch with the dot files. I never uploaded one. 😆 Can you do a PR for the change?

[2018-02-22 17:27] burzum commented on #160
@ravage84 any update on this as well?

[2018-02-22 17:30] ravage84 commented on #157
I wonder how this would help the developer. How about silently truncate but log this with a warning? I would prefer the file to be able to persist but I understand that it is important for a developer to catch this problem, but it could happen only in production...

@liviascapin would you please give it a try, as I'm too busy at the moment?

[2018-02-22 17:33] ravage84 commented on #160
@liviascapin would you please give it a try, as I'm too busy at the moment? Get in touch with me about it, if you need.

[2018-03-02 12:53] liviakuenzli commented on #157
@ravage84 I don't quite agree, so I don't see the point of doing a PR.

I think the plugin should - regarding file names starting with a dot - behave like PHP, e.g. http://php.net/manual/en/function.pathinfo.php.

Pathinfo for 'test/things/.gitignore':
[code]

So, in my opinion, the plugin already behaves correctly and changing that behaviour might be confusing to some. What do you guys think?

[2018-03-02 14:55] ravage84 commented on #157
@liviascapin I understand your reasoning, but IMO PHP itself does a poor job in this case and thus we should not solely rely on it.

Under *nix operating systems an initial dot/period does not indicate a file extension but is used for hiding files. So PHP simply does not work correclty in this case. Also on Windows it's even another fun story.

Since it a) the plugin fails to persist my data and b

[2018-03-05 08:08] liviakuenzli commented on #157
Does the plugin still fail to persist your data after the changes @burzum made (https://github.com/burzum/cakephp-file-storage/commit/581a23e3447bc84071b65b723ea9397e8bae9f42)?

[2018-03-05 08:32] ravage84 commented on #157
@liviascapin haven't checked, most likely not. Nonetheless, b) is still the case..

[2018-04-25 18:02] #160 closed, assigned to nobody

[2018-04-27 15:28] teeencho commented on #136
Hi, I've found the cause of this problem and it seems that the documentation is inconsistent.

The replacing files section reads as follows, which doesn't work out-of-the-box, at least for me:
[code]
echo $this->Form->file('file');
echo $this->Form->error('file');

if (isset($document) && !empty($document->image->id)) {
	echo $this->Image->display($document->image);
	echo $this->Form->input('old_f

[2018-06-11 14:58] lorro opened #170 "ImageHelper produces wrong S3 url"
Hi,

I'm calling the following function from the ImageHelper
[code]

which produces the following url: [click](http://s3.amazonaws.com/vaporshop-store/images/UserAvatars/71/39/88/8ecfada7652544f8b3565ccfe172c1a8/8ecfada7652544f8b3565ccfe172c1a8.jpg)

The format is: s3.amazonaws.com/{bucket_name}/...

As you can see, Amazon returns the following error: **The bucket you are attempting to access must

[2018-06-12 10:15] lorro commented on #170
Addressing s3-eu-west-1.amaznonaws.com/{bucket_name}/ works too by the way.
But the url the ImageHelper is returning is not.

Do you have any suggestions how I could tackle this?
Thanks!

[2018-06-22 11:51] liviakuenzli opened #171 "CakePHP 3.6 Update?"
Hi,

How can we best get a CakePHP 3.6 ready version of this plugin? Can we help?
Should we update the 1.2 branch we currently use (to maybe a 1.3 branch or something)? Or can we maybe help with the 2.0 branch?

[2018-06-26 15:04] burzum commented on #171
The 2.0 branch *should* work fine with 3.6 already. There might be dependencies that need updates. I've already done a chunk of work on it. Feel free to test it and provide feedback or even better pull requests. :)

I don't have plans to update the 1.2 branch. It's simply to much work to maintain the old cake version and 3.6 in the same branch.

Also I'm sorry for not being that active anymore but

[2018-06-29 13:56] liviakuenzli commented on #171
Thanks for your reply :)

I'm trying the 2.0-dev branch now and it seems to work fine! If I find anything I will let you know and provide a pull request if possible. Thanks for your work 💙

[2018-06-29 14:03] burzum commented on #170
@lorro I'll try to take a look at it next week. Which version of the plugin are you using? And which listeners have you configured?

Just to make sure I get you right:

[code]

[code]

I don't remember if I did this intentionally. A quick fix would be to create your own helper and call the image helper to get the URL and prepend your region and https.

[2018-07-13 19:27] ravage84 opened #172 "[2.0] Unit Tests Failing"
While improving the Composer file, i ran the unit thests and some  failed.

[code]

[2018-07-13 19:33] ravage84 opened #173 "[2.0] Use of Deprecated Methods (CakePHP 3.6 Compatibility)"
Currently, the 2.0 code still uses a few in CakePHP 3.6 deprecated methods:

[code]

[2018-07-15 11:57] burzum commented on #171
I'm glad to hear the 2.0x branch works for you. Just report issues you encounter with it. I'll close this ticket now. Feel free to reopen it or another ticket if needed!

[2018-07-15 11:57] #171 closed, assigned to nobody

[2018-07-15 12:00] burzum commented on #154
@julianpollmann I'm closing this now. If you need further assistance please reopen it.

[2018-07-15 12:00] #154 closed, assigned to burzum

[2018-07-15 13:08] burzum commented on #173
@ravage84 I've fixed all of them and pushed to the 2.0 branch.

[2018-07-16 10:57] ravage84 commented on #173
Thanks! :heart:

[2018-07-16 10:57] #173 closed, assigned to nobody

[2018-07-16 16:47] ravage84 opened #175 "[2.0] Upgrade to CakePHP Migrations 2.x"
Curently the plugin uses the CakePHP Migrations plugin in version 1.8.x

https://github.com/burzum/cakephp-file-storage/blob/b1e084251a4498957742125bf5fd58147052c9e7/composer.json#L25

Also recently, the CakePHP Migrations plugin version 2.0.0 was released.

https://github.com/cakephp/migrations/releases/tag/2.0.0

We should upgrade to this before tagging the 2.0 release of this plugin.

[2018-07-24 04:39] tgoeminne opened #176 "error composer"
Is it possible that there is a problem with cakephp:migrations when using composer to install? I am getting errors and can not install it. But I am using the latest cakephp...

[2018-07-24 04:39] tgoeminne commented on #176
urzum/file-storage 1.1.3 requires cakephp/migrations ~1.0 -> satisfiable by cakephp/migrations[1.0.0, 1.0.1, 1.0.2, 1.1.0, 1.1.1, 1.1.2, 1.1.3, 1.1.4, 1.1.5, 1.2, 1.2.1, 1.2.2, 1.3, 1.3.1, 1.3.2, 1.3.x-dev, 1.4, 1.5.0, 1.5.1, 1.5.2, 1.5.3, 1.5.4, 1.5.5, 1.5.6, 1.5.7, 1.5.8, 1.6.0, 1.6.1, 1.6.2, 1.6.3, 1.6.4, 1.6.5, 1.6.6, 1.6.7, 1.7.0, 1.7.1, 1.7.2, 1.8.0, 1.8.1] but these conflict with your requi

[2018-08-06 22:30] burzum commented on #176
@tgoeminne show the whole command you're using to install it.

For 3.6+ you'll need to use the 2.0 branch. It looks like you're installing the 1.3 branch on a newer cake version.

[2018-08-13 10:58] #176 closed, assigned to nobody

[2018-08-13 10:59] burzum commented on #170
@lorro reopen it as needed. I'm closing this because no further feedback was provided.

[2018-08-13 10:59] #170 closed, assigned to nobody

[2018-08-13 10:59] burzum commented on #157
@ravage84 @liviascapin can we close this?

[2018-08-13 12:08] liviakuenzli commented on #157
I think we can close this :)

[2018-08-13 12:09] #157 closed, assigned to burzum

[2018-09-04 09:24] uemit24 opened #180 "No versions of jpeg files"
hello! I`m using file-storage version 1.2.1 on Cakephp 3.5 and my problem is, that the vesioning for jpeg-files doesnt seem to be working. It works for png and gifs, I dont even get any error messages, it simply doesnt create them. gd is intalled by the way and my php version is 7.1.21. Otherwise it works fine.

I also tried to update to burzum/file-storage:2.0.x-dev and cakephp 3.6, but when I di

[2018-09-06 22:21] ravage84 commented on #175
Resolved through #178

[2018-09-06 22:21] #175 closed, assigned to nobody

[2018-09-06 22:21] ravage84 commented on #172
Resolved through a series of PRs.

[2018-09-06 22:21] #172 closed, assigned to burzum

[2018-09-06 22:34] ravage84 commented on #180
@uemit24 can you update to the newest 2.0 version and try again, please?

[2018-09-07 11:45] ravage84 opened #183 "Keep a Change Log"
Let's keep a change log:

https://keepachangelog.com/en/1.0.0/

[2018-09-07 11:45] ravage84 commented on #183
@liviascapin would you do me the favor?

[2018-09-20 21:21] burzum commented on #180
@uemit24 I can't verify your issue. There must be somewhere a log. Did you check your php logs? Are logs enabled? We're using the 1.2.x version of the library in production for years now and we have around 2 millionen jpg files.

Can you please provide a little more feedback on this? I simply can't reproduce your issue.

[2018-09-21 08:03] uemit24 commented on #180
I found the "problem", it has nothing todo with you ;-). Gd installation was not complete, that caused the problem. On the one hand side, I am glad it is still uploading the image even without versioning  - but It surprised me, that it doesnt throw an error message at all ;-) . Sorry for wasting your time!

[2018-09-21 08:03] #180 closed, assigned to nobody

[2018-09-21 13:42] burzum commented on #180
@uemit24 was gd not active at all? Hmm I can't simply add a check for that issue because not everyone is using gd. So gd can be off while imagick is used.

However, thanks for using my library. I recommend you to update to 2.x at some point, 1.2 won't receive any more updates due to a lack of time to do so in my free time. If you have any ideas on how to improve the library or make it easier to us

[2018-09-27 08:26] ravage84 commented on #183
Closing as there is a pull request up at #184

[2018-09-27 08:26] #183 closed, assigned to nobody

[2019-03-02 18:50] koffisani opened #186 "Can't save file when creating related model"
I'm trying to create `Companies` entity and figured out I can't add related image at the same time.
I'm getting

What am I doing wrong ?

[2019-04-02 20:44] burzum commented on #186
I don't know. Given the lack of information I can't tell you anything. But I can tell you it works because we  do that in my company as well.

[2019-04-10 14:46] lorro opened #190 "Upgrading from v1 to v2"
Hi

I'm looking for some help in upgrading from v1 to v2 :)
Could you elaborate a little bit about the steps that need to be done to start using v2 of your plugin. I've been using the older v1 branch for a while now but decided to update to v2 because of compatibility with the newest versions of cakePHP3.

Though I think the docs are rather confusing/vague regarding the migration part, with lots o

[2019-04-11 12:48] lorro commented on #190
Got some additional question regarding this matter.
You mentioned: `FileStorage::deleteOldFileOnSave() is no longer called automatically in the FileStorage::afterSave() callback
`

What's actually the reason for this? :-)
I need these old files to be deleted as now my file_storage table is stuffed with images that aren't used anymore :-)
I tried to call this now like so:
[code]

But that throws th

[2019-04-11 14:23] lorro commented on #190
I got some additional related question.
In the docs you mention: `FileStorage::deleteOldFileOnSave() is no longer called automatically in the FileStorage::afterSave() callback
`

What is the actual motivation behind that? :-)
I actually need to call this as now my file_storage contains a lot of records with older images. It should be better they got deleted on a new upload.

I tried calling it by

[2019-04-11 14:48] lorro commented on #190
Apparently got something to do with what happens in the afterDelete callback

In FileStorageBehavior:150, if I comment out the dispatching of FileStorage.afterDelete (I reckon this handles the deletion of the physical file), the upload works fine and also the deletion of the old file in the database. So the problem lies somewhere in that direction.

[code]

[2019-04-11 15:10] lorro commented on #190
Sorry for the spamming :-)

I have the impression the code in the repo 2.0 doesn't reflect the following?
[code]

I had prepared for this, but as I see it the code still references these fields as model & adapter? Or am I wrong? I reverted my database fields and functions back to the old names, and that seems to work...

[2019-04-12 07:37] burzum commented on #190
This is a little hard to follow without having the application locally running.

I don't remember why I'm no longer calling the method automatically, I think because it was not really transparent to the user and could lead to accidental deletions. I think it is better if the developer makes this decision intentionally. Also very often there is additional logic tied to this.

Debug if the data you'

[2019-04-12 07:59] burzum commented on #186
Closing this because of a lack of feedback. Please provide more information and re-open if needed.

[2019-04-12 07:59] #186 closed, assigned to nobody

[2019-04-15 21:29] skie opened #191 "Tag current 2.0 version with next semver tag"
To avoid minimum stability as dev for composer please tag current 2.0 branch with next 2.0.x tag.

[2019-04-16 09:51] ravage84 commented on #190
@lorro

I would say the docs could need a lot of improvements, in general. :upside_down_face:

To be hoenst I do not remember. Not even sure I was involved with that.

About the 2.0 release. We pushed through with that because we needed it for a project. Since we aren't using the plugin to its fullest it's quite likely that we missed something. @lorro  instead of just fighting the symptoms, I woul

[2019-04-24 11:15] burzum commented on #191
Tagged 2.1

[2019-04-24 11:15] #191 closed, assigned to nobody

[2019-04-28 14:20] stripthis opened #192 "How can one add to the list of supported adapter classes?"
Hello,

I'm doing some tests with `\Gaufrette\Adapter\GoogleCloudStorage` and it works just fine. The only missing link is the support of this adapter by the default listener. For testing I added it to the list of `$_adapterClasses` in the local listener, but the doc says it should be extended.

My question is how did you envision people loading different listeners since the boostrap only works wi

[2019-04-29 19:38] burzum commented on #192
Are you talking about https://github.com/burzum/cakephp-file-storage/blob/2.0/config/bootstrap.php?

By `default listener`, do you mean this line? https://github.com/burzum/cakephp-file-storage/blob/2.0/config/bootstrap.php#L19

Which file exactly are you talking about? And which version of the plugin are you using?

It should be easy to do this by just extending the class with the $_adapterClasse

[2019-05-02 09:57] stripthis commented on #192
Hi @burzum, thank you for taking the time to answer this. I'm using the latest version of the plugin.

Yes i'm talking about the listener in the plugin `bootstrap.php` line 9:
[code]
Then in `LocalListener.php`:
[code]

Yes I understood this much. I was wondering in practice how would you then use that class instead: by skipping the default bootstrap?

Maybe it would make sense for me to propose a

[2019-05-07 14:02] burzum commented on #192
You skip the default bootstrap.php. The only reason it exists is to provide a working out of the box experience because most people start with local storage anyway.

Well you can already do that in a way you should do it: Don't use the plugins bootstrap and add whatever *you* need to your apps bootstrap. 😃 Maybe the documentation should provide that idea.

[2019-05-07 17:33] stripthis commented on #192
@burzum that works for me. Thanks for the precisions :). I will document how we got the Google storage working and make a PR in the documentation files for this.

[2019-05-07 17:33] #192 closed, assigned to nobody

[2019-05-07 21:42] burzum commented on #192
@stripthis awesome, thank you! :) Let me know if you need help!

I'm also open to ideas to make the whole thing more easy, I'm planing on a rewrite of the plugin.

[2019-07-09 15:17] lee-mansfield-velo opened #194 "No image manipulation or correct url paths being returned"
Hi, I'm having a struggle trying to get the image sizing working and also generating a path to the image and I was wondering if you could offer a few pointers?

I've setup my project using your documentation as best I can and here is my spec:

**PHP: 5.6.x
CakePHP: 3.5.18
cakephp-file-storage: 1.2.1**

So I got as far as being able to install the plugin(!) and upload and save images correctly both

[2019-08-08 02:53] waspinator opened #195 "updating docs"
Thanks for working on this file plugin, it looks well designed.

I'm having issues installing it though. I'm using cake 3.8, so I assume I need version 2. This is what I've tried.

[code]

this produces a deprecation error
[code]

After editing `config/bootstrap.php` with

[code]

I get the following exception:

[code]

[2019-08-08 15:10] ravage84 commented on #195
With ``composer require burzum/file-storage:2.0.*`` you get anything like 2.0.x, but version 2.1.0 has been released, which provides CakePHP 3.6+ support.

Docs fixed in https://github.com/burzum/cakephp-file-storage/commit/97ba39fc07ff7282d6a240e1fe5fef3c7912418a

Please update and re-try.

[2019-08-08 15:10] #195 closed, assigned to nobody

[2019-08-08 15:59] waspinator commented on #195
I updated to 2.1 and the deprecation warning has gone away, but I still get the exception after editing the `config/bootstrap.php` file.

It looks like the `Lib` directory was removed but the docs still reference it.

[2019-08-08 20:54] burzum commented on #194
Use `Burzum/FileStorage.ImageStorage` and let me know if this works for you.

See https://github.com/burzum/cakephp-file-storage/blob/1.2/src/Model/Table/ImageStorageTable.php

Only this table fires the events require for image processing if I remember correctly.

[2019-08-09 09:52] burzum opened #196 "Todo: Add migration guide from Cake 3 to 4"
There is already an **unstable** 3.0 branch that features CakePHP4 which was provided by @skie. But it still lacks the documentation for upgrading from v2 to v3 of the plugin or in other words from Cake v3 to v4.

We need to update the documentation and add a migration guide.

[2019-08-09 09:54] burzum commented on #190
@lorro @ravage84 any more input from you guys? Or can / should we close this?

[2019-08-09 22:50] waspinator commented on #196
it would also be good to update the documentation for using v2.1.

For example the [installation](https://github.com/burzum/cakephp-file-storage/blob/2.1.0/docs/Documentation/Installation.md) page references `use Burzum\FileStorage\Lib\FileStorageUtils;` which I don't think exists anymore.

[2019-08-12 12:15] burzum commented on #196
@waspinator can you do a pull request for it?

[2019-08-23 01:33] waspinator opened #198 "updating docs"
@burzum I started some document changes (#197), but I'm still not comfortable using the plugin. Especially the event system. For example, following the upload example I get a `unable to export object: StorageManager::get() first arg must be a non empty string!` error, or uploading using `bin/cake storage store` doesn't generate `full_path` or `url` fields.

[2019-08-24 17:11] squalltua opened #199 "Class could be found"
I follow the installation step. In step `CakePHP Bootstrap`
Clean installation, No code, Just installed the plugin
[code]
They class could not found.

Version
- CakePHP: 3.8.2
- burzum/file-storage: 2.1
- System: LAMP (Docker)

PS
Migrating from File Storage v1 to v2 page in the document has gone.

[2019-08-29 10:22] burzum commented on #199
Well... which class exactly?

The listeners are here:
https://github.com/burzum/cakephp-file-storage/tree/2.0/src/Storage/Listener

Looks like the migration guide is incomplete.

[2019-08-29 10:28] burzum commented on #194
I'm closing this as no further feedback was provided. If the issue still persists please re-open the ticket.

[2019-08-29 10:28] #194 closed, assigned to nobody

[2019-08-29 12:09] squalltua commented on #199
I don't know. I just follow doc.

![image](https://user-images.githubusercontent.com/329150/63939040-79dae200-ca90-11e9-958d-19fbdd593ee7.png)

[2019-08-29 20:30] burzum commented on #199
Try using the listeners from here.

https://github.com/burzum/cakephp-file-storage/tree/2.0/src/Storage/Listener

[2019-09-10 16:35] squalltua commented on #199
Yes. work no error
and I think the document need update.

I changed
[code]
instand to
[code]

and fixed
[code]

But i'm not sure is work fine or not.

[2019-09-10 16:35] #199 closed, assigned to nobody

[2019-10-31 05:04] nuzulfikrie opened #201 "Followed the guidelines in documentations server complaints 'Burzum\FileStorage\Event\LocalFileStorageListener' not found"
Hi ,

I manage to load the plugin in **bootstrap.php** like so.

[code]
And then I continue with this in  **bootstrap.php**
[code]

Enabling the spl_autoload_register

The server will reply with error

**Function '\FileStorageUtils::gaufretteLoader' not found (class '\FileStorageUtils' not found)**

disabling the spl_autoload_register the server will reply with

**Class 'Burzum\FileStorage\Event\L

[2019-10-31 08:34] challgren commented on #201
I think this is related to #199

[2019-10-31 08:38] challgren commented on #201
Related #198 #197

[2019-10-31 18:41] nuzulfikrie commented on #201
Ok , I am testing the suggested solutions, will close this issue.

[2019-10-31 18:41] #201 closed, assigned to nobody

[2019-11-02 08:20] nuzulfikrie opened #202 "Created a script to upload files to S3 - files uploaded but script throws error The listener `Burzum\FileStorage\Storage\Listener\LocalListener` doesn't allow the `\Gaufrette\Adapter\AwsS3` adapter class! Probably because it can't work with it"
Hi All,

I followed the documentations that is listed here from [https://cakephp-file-storage.readthedocs.io/en/latest/Tutorials/Quick-Start/](url).

When I followed this, and run from console. The script throws
**The listener `Burzum\FileStorage\Storage\Listener\LocalListener` doesn't allow the `\Gaufrette\Adapter\AwsS3` adapter class! Probably because it can't work with it.**

- Tried it 3 times

[2019-11-02 09:13] nuzulfikrie commented on #202
I put Adapter class     'adapterClass' => '\Gaufrette\Adapter\AwsS3', in LocalListener.php
 and the script work. Is it the intended design?
[code]

[2019-11-03 18:01] #202 closed, assigned to nobody

[2019-12-11 15:38] burzum commented on #202
@nuzulfikrie this is intended, but it is not intended that you change this class. If it works you're lucky because the adapters API is compatible. But there might be things that break. A LOCAL adapter is for a reason a LOCAL adapter. It will very likely behave different than one for a cloud based storage. The listeners expect specific adapters because of that. They don't assume that a LOCAL adapte

[2020-01-09 13:43] jaygoodswp commented on #195
@waspinator
[code]

[2020-03-13 15:50] nuzulfikrie commented on #202
Thanks @burzum . I am still hoping ( and working ) to use this plugin. A very good one.

[2020-03-14 20:36] burzum commented on #202
@nuzulfikrie well, just implement your own listener for AWS. You can test if LocalListener works fine, if not figure out the difference and create your own listener based on that one.

In theory all the adapters could or should even work. The underlying library Gaufrette should abstract that very well but no guarantee given.

So yes, you can extend the Listener in your app and just override the $_

[2020-03-15 23:48] nlangel opened #204 "cakephp/cakephp 4.0.x dependency issue"
During install I get:
[gfaber@cakephp inventory]$ composer require "burzum/file-storage:3.*"
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - burzum/file-storage 3.0.x-dev requires cakephp/cakephp 4.x-dev as 4.0.0 -> no m

[2020-04-24 23:18] isseium commented on #204
@nlangel
I have a same issue.
Thank you for your workaround!
`composer require cakephp/cakephp:"4.0.6 as 4.x-dev` ( I changed version 4.0.4 => 4.0.6 )

Dear committer,
I am waiting for production release targeted CakePHP 4.x.

[2020-05-04 23:36] burzum commented on #204
@skie can you please check this?

[2020-05-04 23:47] burzum commented on #204
If anyone of you would like to finish this PR I'll tag a 4.0 version https://github.com/burzum/cakephp-file-storage/pull/203. @skie doesn't respond anymore and at work we'll stick for some more time to Cake3.

I personally have move to Laravel, Cake has failed to go with the time for me and I genuinely think that Laravel is the better choice these days. So basically all my Cake packages get only a

[2020-05-04 23:51] burzum commented on #190
@lorro @ravage84 closing this, if there is still a need for this please re-open it.

[2020-05-04 23:51] #190 closed, assigned to nobody

[2020-06-02 11:34] burzum commented on #204
I've started to work on a complete new library that is going to be similar to this one based on its terminology and functions but is going to be complete angostic to any framework. It will be easy to plug it into Cake with a behavior.

This allows me to drop all the legacy from this library and write a much better implementation from scratch. 😃 I'll leave another comment here when I publish the fi

[2020-06-18 18:47] burzum commented on #204
This is my working example of the new lib. The File object implements jsonSerialize() and toArray() so you can turn that object into something that can be saved in a DB. The lib doesn't take care of saving the file data in a DB, it just abstracts storage and creation of manipulated versions. Wrapping it in a behavior should be easy. Pretty much stuffing the code from the gist into it and done. But

[2020-06-24 20:12] burzum commented on #204
Is anyone interested in getting access to the private repo of the new lib? I'm looking for some feedback on the API before making it public.

[2020-06-30 08:57] burzum commented on #204
OK, the new library is here. There is still some work to be done but it works for me. Feedback is highly appreciated to figure out of the API works for everyone as good as I itended it. For the use with Cake it should be easy to wrap a behavior around it that will take care of the actual save and delete.

https://github.com/Phauthentic/file-storage

[2020-07-14 23:39] burzum commented on #204
Maybe I'm going to release a new version for Cake that will drop all the legacy and is going to be a big BC breaking change. The new libs are almost ready and we started to use it at work, integrating it into Cake but keeping it very loose coupled.

[2020-07-14 23:42] burzum opened #208 "Version 4.0 (complete rewrite)"
⚠️ This is going to be a **big** BC breaker but it should be easy to write a migration for the existing data. ⚠️

The goal is to get rid of the thight coupling of the functionality of this plugin to the CakePHP framework. The internal coupling is bad and being tight bound to the framework causes more work than gaining a benefit from it. Then new version is going to use a framework agnostic library

[2020-07-14 23:59] burzum commented on #204
Refs https://github.com/burzum/cakephp-file-storage/issues/208

[2020-07-14 23:59] #204 closed, assigned to nobody

[2020-11-06 12:00] burzum commented on #208
Just an update on this: Looks like we're going to get closer to tag a first ~~stable~~ release of the libs and finishing the sheels within the next few weeks. 🥳

[2020-11-15 17:05] dereuromark opened #214 "Antipattern showcase"
I finally came around to showcase what I meant with antipattern regarding types for chainable
https://github.com/dereuromark/cakephp-file-storage/pull/1

It shows that adding them is really bad, and destroys extendability.

So best to drop them in all related repos, let CS tooling (free in Spryker sniffer) make sure all is consistent and you have automatically a better and extandable code.

[2021-01-14 00:10] geoidesic opened #220 "Link in docs is broken"
https://github.com/burzum/cakephp-file-storage/blob/4.0/docs/Documentation/How-To-Use.md

`Before you continue to read this page it is recommended that you have read about the <broken link> before.`

[2021-02-08 09:20] dereuromark opened #221 "Issues with upload for 1:1"
The behavior, when attached for uploading, should create additional *Tmp relations.
Those would be used for uploading then.
This way they wont intersect with the existing image on the entity property and cause partial overwrite or strange side effects.
Once fully uploaded the auto-perge (if enabled) kicks in and there is only 1 image in this case still after redirect.

[2021-03-03 18:29] LordSimal commented on #208
I am curious how this rewrite is going and if I can somehow help

[2021-03-03 19:06] burzum commented on #208
@LordSimal you can give it a try it should work. Since I don't work with CakePHP anymore I can't say anything about how well it already works. I've also started in a new company and don't have time and mood for open source right now. It *should* work, there might be edge cases not being covered yet. @dereuromark is using it but I don't know about the current state.

[2021-06-16 22:46] burzum commented on #221
Can you provide an isolated PR with test coverage for this feature and make it *optional*, means being able to enable and disable it on the behavior? I'll accept such a PR and solution.

[2021-07-11 11:16] koffisani opened #222 "Issues installing via composer"
Hi @burzum,
I'm facing some issues with this plugin when doing CI/CD on gitlab. I can realize that installing version 1.2.1 results in an empty `vendor/burzum` folder although everything is correctly installed on local machine.

Is there any way to fix this ? Thanks.

[2021-07-11 11:24] burzum commented on #222
I have no idea. I guess this is more likely a configuration problem than anything related to the library. It's hard to say anything without logs and error messages at all. Also I'm not maintaining this library anymore, due to a lack of time and interest in CakePHP.

[2021-07-11 11:32] koffisani commented on #222
Good. Thank a lot for be very responsive.
My Composer dependency part :
[code]
A little debugging and I found out :

total 456
drwxr-xr-x.  3 root root  4096 Jul 11 10:33 ajgl
drwxr-xr-x.  3 root root  4096 Jul 11 10:33 aptoma
drwxr-xr-x.  3 root root  4096 Jul 11 10:33 asm89
drwxr-xr-x.  3 root root  4096 Jul 11 10:33 aura
-rw-r--r--.  1 root root   178 Jul 11 10:33 autoload.php
drwxr-xr-x.  2 ro

[2021-07-11 12:01] burzum commented on #222
Try `burzum/cakephp-file-storage`.

[2021-07-11 12:10] burzum opened #223 "Looking for a new maintainer"
If somebody has an interest in *activly* maintaining this library let me know. I don't have the time and mood anymore to do a lot open source in my after work hours and my interest in CakePHP has also faded.

[2021-07-11 17:27] koffisani commented on #222
Thank you for your support.
Unfortunately, switching to `burzum/cakephp-file-storage` results in the same errors. The `burzum` folder is still empty.

Normally in this folder, composer is supposed to create the `cakephp-imagine-plugin` subfolder, but didn't.

[2021-07-11 17:55] burzum commented on #222
I have no idea what the problem is, as I said, I don't think this is related to the library. Check your CI setup and composer output.

[2021-07-11 20:43] burzum commented on #222
Try stackoverflow.com or a Composer specific or php generic forum to ask for help. If this is really an issue of the library, please feel free to re-open the issue but pleas only when you can show me a way to reproduce the problem. Good luck!

[2021-07-11 20:43] #222 closed, assigned to nobody

[2021-07-13 07:08] koffisani commented on #222
Thank you @burzum. I think it's specific to the OS. Thank you.

[2021-07-16 08:39] koffisani commented on #222
Hi @burzum. Just to inform you that it was a problem with composer and the docker image I was using. Fixed now.